Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

dart-fixes:
  run: 'echo "🔧 Applying automatic Dart fixes..."
  
    dart fix --apply
  
    echo "🎨 Formatting Dart code..."
  
    dart format {staged_files}
  
    echo "📋 Re-staging fixed files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

markdown-lint:
  run: 'echo "📝 Fixing and linting markdown files..."
  
    markdownlint --fix {staged_files}
  
    echo "📋 Re-staging fixed markdown files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

test-selector-check:
  run: ./scripts/check-test-selectors.sh {staged_files}
  fail_text: '❌ Text-based selectors detected in test files.
  
  
    Replace find.text() calls used with tester.tap() with find.byKey() calls.
  
    This improves test robustness and supports internationalization.
  
  
    Examples:
  
  ...

dart-analyze:
  run: 'echo "🔍 Analyzing Dart code..."
  
    flutter analyze --no-fatal-infos
  
    '
  fail_text: '❌ Flutter analyze found issues that cannot be auto-fixed.
  
    Please review and fix the remaining warnings/errors before committing.
  
    Run ''flutter analyze'' to see details.
  
    '

Add suspended chord types and exercises to the curriculum
  docs/curriculum.md
  docs/specifications/skill-progression.md
  lib/application/skill_progression/default_skill_catalogue.dart
  lib/domain/models/music/chord_type.dart
  lib/domain/services/music_theory/chord_builder.dart
  lib/domain/services/music_theory/chord_by_type.dart
  lib/domain/services/music_theory/chord_inversion_utils.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  test/domain/models/practice/strategies/chords_by_type_strategy_test.dart
  test/domain/services/music_theory/chord_by_type_test.dart
  test/domain/services/music_theory/chords_test.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Add broken-chord accompaniment practice
  docs/curriculum.md
  docs/specifications/skill-progression.md
  drift_schemas/app_database/drift_schema_v8.json
  lib/application/database/app_database.dart
  lib/application/database/app_database.g.dart
  lib/application/database/app_database.steps.dart
  lib/application/database/tables/exercise_history_table.dart
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/application/skill_progression/default_skill_catalogue.dart
  lib/application/state/exercise_strategy_factory.dart
  lib/domain/models/music/broken_chord_pattern.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/domain/models/practice/exercise_history_entry.dart
  lib/domain/models/practice/practice_mode.dart
  lib/domain/models/practice/strategies/broken_chord_accompaniment_strategy.dart
  lib/domain/models/practice/strategies/practice_strategies.dart
  lib/domain/services/skill_progression/exercise_configuration_identity.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  lib/presentation/features/practice/widgets/focused_session_header.dart
  lib/presentation/widgets/practice_progress_display.dart
  lib/presentation/widgets/practice_settings/practice_mode_settings.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/app_database/generated/schema.dart
  test/app_database/generated/schema_v8.dart
  test/application/database/app_database_test.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
  test/application/state/exercise_strategy_factory_test.dart
  test/domain/models/practice/exercise_configuration_test.dart
  test/domain/models/practice/exercise_history_entry_test.dart
  test/domain/models/practice/practice_mode_test.dart
  test/domain/models/practice/strategies/broken_chord_accompaniment_strategy_test.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
  test/presentation/widgets/practice_settings_panel_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Address foundational harmony review feedback
  docs/curriculum.md
  lib/application/state/exercise_strategy_factory.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/domain/models/practice/strategies/broken_chord_accompaniment_strategy.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
  test/application/state/exercise_strategy_factory_test.dart
  test/domain/models/practice/strategies/broken_chord_accompaniment_strategy_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Refresh app documentation
  README.md
Due: markdown-lint

Align SDK requirements
  README.md
  pubspec.lock
  pubspec.yaml
Due: markdown-lint

Refactor constructor parameters to use shorthand syntax in multiple repository and view model classes
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/application/repositories/settings_repository_impl.dart
  lib/application/repositories/user_profile_repository_impl.dart
  lib/application/state/metronome_state.dart
  lib/domain/models/midi/midi_event.dart
  lib/presentation/features/device_controller/device_controller_view_model.dart
  lib/presentation/features/history/history_page_view_model.dart
  lib/presentation/features/midi_settings/midi_settings_view_model.dart
  lib/presentation/features/notifications/notifications_page_view_model.dart
  lib/presentation/features/play/play_page_view_model.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/features/reference/reference_page_view_model.dart
  lib/presentation/features/repertoire/repertoire_page_view_model.dart
  lib/presentation/features/skill_progression/skill_tree_page_view_model.dart
  lib/presentation/features/user_profile/user_profile_view_model.dart
Due: dart-fixes, dart-analyze

Add design review for progressive regimen and update design guidelines
  docs/design-guidelines.md
  docs/progressive-regimen-design-review.md
Due: markdown-lint

Path conditions:
  dart-fixes: any of: *.dart
  markdown-lint: any of: *.md
  test-selector-check: any of: test/**/*_test.dart
  dart-analyze: any of: *.dart
