Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

dart-fixes:
  run: 'echo "🔧 Applying automatic Dart fixes..."
  
    dart fix --apply
  
    echo "🎨 Formatting Dart code..."
  
    dart format {staged_files}
  
    echo "📋 Re-staging fixed files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

markdown-lint:
  run: 'echo "📝 Fixing and linting markdown files..."
  
    markdownlint --fix {staged_files}
  
    echo "📋 Re-staging fixed markdown files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

test-selector-check:
  run: ./scripts/check-test-selectors.sh {staged_files}
  fail_text: '❌ Text-based selectors detected in test files.
  
  
    Replace find.text() calls used with tester.tap() with find.byKey() calls.
  
    This improves test robustness and supports internationalization.
  
  
    Examples:
  
  ...

dart-analyze:
  run: 'echo "🔍 Analyzing Dart code..."
  
    flutter analyze --no-fatal-infos
  
    '
  fail_text: '❌ Flutter analyze found issues that cannot be auto-fixed.
  
    Please review and fix the remaining warnings/errors before committing.
  
    Run ''flutter analyze'' to see details.
  
    '

refactor: implement equality checks and hashCode for MidiDevice class
  lib/domain/repositories/midi_repository.dart
Due: dart-fixes, dart-analyze

refactor: implement synchronous resource cleanup in MidiSettingsViewModel
  lib/features/midi_settings/midi_settings_view_model.dart
Due: dart-fixes, dart-analyze

refactor: enhance dispose method for MIDI command resource cleanup
  lib/application/repositories/midi_repository_impl.dart
Due: dart-fixes, dart-analyze

refactor: enhance handler registration and disposal in MidiRepositoryImpl
  lib/application/repositories/midi_repository_impl.dart
Due: dart-fixes, dart-analyze

refactor: delegate MIDI data processing to domain service for improved separation of concerns
  lib/application/repositories/midi_repository_impl.dart
  lib/domain/repositories/midi_repository.dart
  lib/features/device_controller/device_controller_view_model.dart
  lib/features/play/play_page_view_model.dart
  lib/features/reference/reference_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: add initialize method to MidiRepositoryImpl for MIDI data listening setup
  lib/application/repositories/midi_repository_impl.dart
  lib/main.dart
Due: dart-fixes, dart-analyze

refactor: replace MidiConnectionService with MidiService for MIDI data handling
  lib/application/services/midi/midi_connection_service.dart
  lib/features/practice/practice_page_view_model.dart
  test/application/services/midi/midi_connection_service_test.dart
  test/features/play/play_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: update documentation for MidiSettingsViewModel to clarify architecture and Bluetooth management
  lib/features/midi_settings/midi_settings_view_model.dart
Due: dart-fixes, dart-analyze

refactor: modularize PracticePage by extracting widget building methods for improved readability and maintainability
  lib/features/practice/practice_page.dart
Due: dart-fixes, dart-analyze

feat: integrate notification manager into settings repository
  lib/application/repositories/notification_manager_interface.dart
  lib/application/repositories/settings_repository_impl.dart
  lib/application/services/notifications/notification_manager.dart
  lib/application/services/notifications/notification_service.dart
  lib/main.dart
  test/application/repositories/settings_repository_impl_test.dart
  test/application/services/notifications/notification_manager_test.dart
  test/application/services/notifications/notification_service_test.dart
  test/shared/test_helpers/mock_repositories.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: simplify hashCode implementation using Object.hash for NotificationSettingsData
  lib/domain/models/notification_settings_data.dart
Due: dart-fixes, dart-analyze

refactor: improve error handling in Bluetooth initialization and scanning methods
  lib/features/midi_settings/midi_settings_view_model.dart
Due: dart-fixes, dart-analyze

refactor: replace fixed 49-key range with method in PlayPageViewModel for improved maintainability
  lib/features/play/play_page.dart
  lib/features/play/play_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: streamline MIDI data handling by consolidating parsing logic for improved efficiency
  lib/features/device_controller/device_controller_view_model.dart
Due: dart-fixes, dart-analyze

refactor: enhance MIDI connection handling with configurable retry logic and exponential backoff
  lib/application/repositories/midi_repository_impl.dart
  test/application/repositories/midi_repository_impl_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: enhance MIDI device model with connection status and port details for improved functionality
  lib/application/repositories/midi_repository_impl.dart
  lib/domain/repositories/midi_repository.dart
  lib/features/device_controller/device_controller_page.dart
  lib/features/device_controller/device_controller_view_model.dart
  lib/features/midi_settings/midi_settings_view_model.dart
  test/features/device_controller/device_controller_page_test.dart
  test/features/device_controller/device_controller_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: add channel validation in MidiSettingsViewModel and corresponding tests
  lib/features/midi_settings/midi_settings_view_model.dart
  test/features/midi_settings/midi_settings_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: enhance MIDI data handling with error recovery and logging
  lib/features/play/play_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: implement error recovery and logging in MIDI data handling
  lib/features/reference/reference_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: add unawaited around Provider creation
  lib/main.dart
Due: dart-fixes, dart-analyze

refactor: implement MIDI channel validation across repository and view model
  lib/application/repositories/midi_repository_impl.dart
  lib/application/state/midi_state.dart
  lib/domain/models/midi_channel.dart
  lib/features/midi_settings/midi_settings_view_model.dart
  lib/presentation/constants/ui_constants.dart
  test/application/repositories/midi_repository_impl_test.dart
  test/domain/models/midi_channel_test.dart
  test/features/midi_settings/midi_settings_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: introduce MIDI connection and protocol constants for improved configuration and maintainability
  lib/application/constants/midi_connection_config.dart
  lib/domain/constants/midi_protocol_constants.dart
  lib/features/device_controller/device_controller_page.dart
  lib/features/device_controller/device_controller_view_model.dart
  lib/features/midi_settings/midi_settings_view_model.dart
  lib/presentation/constants/ui_constants.dart
Due: dart-fixes, dart-analyze

refactor: add TODOs for implementing device tracking in MidiRepository
  lib/application/repositories/midi_repository_impl.dart
  lib/domain/repositories/midi_repository.dart
Due: dart-fixes, dart-analyze

refactor: enhance retry delay tests for exponential backoff accuracy
  test/application/repositories/midi_repository_impl_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: convert MIDI note sending methods to async for improved responsiveness
  AGENTS.md
  lib/application/utils/virtual_piano_utils.dart
  lib/features/device_controller/device_controller_page.dart
  lib/features/device_controller/device_controller_view_model.dart
  lib/features/play/play_page_view_model.dart
  lib/features/practice/practice_page_view_model.dart
  lib/features/reference/reference_page_view_model.dart
  test/application/utils/virtual_piano_utils_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

refactor: update architecture documentation to reflect hybrid approach combining Clean Architecture and feature-based organization
  AGENTS.md
  CONTRIBUTING.md
Due: markdown-lint

refactor: optimize data handler registration and unregistration logic
  lib/application/repositories/midi_repository_impl.dart
Due: dart-fixes, dart-analyze

refactor: add missing break statements in MIDI event handling
  lib/features/device_controller/device_controller_view_model.dart
Due: dart-fixes, dart-analyze

refactor: enhance MIDI repository with configurable service and command dependencies
  lib/application/repositories/midi_repository_impl.dart
  test/application/repositories/midi_repository_impl_test.dart
  test/shared/test_helpers/mock_repositories.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: improve error handling and resource management in virtual note playback
  lib/application/utils/virtual_piano_utils.dart
Due: dart-fixes, dart-analyze

refactor: enhance error handling in VirtualPianoUtils tests and improve mock repository behavior
  test/application/utils/virtual_piano_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: conditionally log MIDI note events in debug mode
  lib/application/utils/virtual_piano_utils.dart
Due: dart-fixes, dart-analyze

refactor: conditionally log received MIDI data in debug mode
  lib/features/practice/practice_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: enhance error handling in MIDI data processing
  lib/features/practice/practice_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: simplify dispose method tests in VirtualPianoUtils
  test/application/utils/virtual_piano_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: validate MIDI note range in playVirtualNote method
  lib/features/practice/practice_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: ensure asynchronous disposal of MIDI resources in PracticePageViewModel
  lib/features/practice/practice_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: update plugin registrations and dependencies in GeneratedPluginRegistrant and pubspec.lock
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
Due: none

refactor: remove unused path_provider_foundation dependency from Podfile.lock
  macos/Podfile.lock
Due: none

refactor: enhance accessibility labels for progress display in PracticeProgressDisplay widget
  lib/presentation/widgets/practice_progress_display.dart
Due: dart-fixes, dart-analyze

Path conditions:
  dart-fixes: any of: *.dart
  markdown-lint: any of: *.md
  test-selector-check: any of: test/**/*_test.dart
  dart-analyze: any of: *.dart
