Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

dart-fixes:
  run: 'echo "🔧 Applying automatic Dart fixes..."
  
    dart fix --apply
  
    echo "🎨 Formatting Dart code..."
  
    dart format {staged_files}
  
    echo "📋 Re-staging fixed files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

markdown-lint:
  run: 'echo "📝 Fixing and linting markdown files..."
  
    markdownlint --fix {staged_files}
  
    echo "📋 Re-staging fixed markdown files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

test-selector-check:
  run: ./scripts/check-test-selectors.sh {staged_files}
  fail_text: '❌ Text-based selectors detected in test files.
  
  
    Replace find.text() calls used with tester.tap() with find.byKey() calls.
  
    This improves test robustness and supports internationalization.
  
  
    Examples:
  
  ...

dart-analyze:
  run: 'echo "🔍 Analyzing Dart code..."
  
    flutter analyze --no-fatal-infos
  
    '
  fail_text: '❌ Flutter analyze found issues that cannot be auto-fixed.
  
    Please review and fix the remaining warnings/errors before committing.
  
    Run ''flutter analyze'' to see details.
  
    '

refactor: convert relative exports to package exports in accessibility barrel
  lib/presentation/accessibility/accessibility.dart
Due: dart-fixes, dart-analyze

refactor: clarify services section in architecture documentation
  ARCHITECTURE.md
Due: markdown-lint

refactor: update disconnectDevice methods to return Future<void> for async handling
  lib/application/services/midi/midi_device_discovery_service_impl.dart
  lib/domain/services/midi_device_discovery_service.dart
  lib/presentation/features/midi_settings/midi_settings_view_model.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, dart-analyze

refactor: correct comment for play info banner padding
  lib/presentation/features/play/play_constants.dart
Due: dart-fixes, dart-analyze

refactor: add tests for handling failures in MIDI control, program change, and pitch bend operations
  test/presentation/features/device_controller/device_controller_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: add key to FloatingActionButton for MIDI settings scan functionality
  lib/presentation/features/midi_settings/midi_settings_page.dart
  test/presentation/features/midi_settings/midi_settings_page_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: enhance notesForRangeCalculation test and verify MIDI note playback
  test/presentation/features/practice/practice_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: update tests for notes range calculation and highlight note positions in reference view model
  test/presentation/features/practice/practice_page_view_model_test.dart
  test/presentation/features/reference/reference_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: add Clean Architecture and MVVM guidelines for code auditing
  .github/agents/clean-architecture-specialist.agent.md
  .github/agents/flutter-quality-auditor.agent.md
Due: markdown-lint

refactor: add error handling for MIDI send operations and expose last error in ViewModel
  lib/presentation/features/device_controller/device_controller_view_model.dart
  test/presentation/features/device_controller/device_controller_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: add error handling for sendNoteOn and sendNoteOff methods in ViewModel
  lib/presentation/features/device_controller/device_controller_view_model.dart
  test/presentation/features/device_controller/device_controller_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: update Clean Architecture guidelines to clarify import restrictions and enforce import style
  .github/agents/clean-architecture-specialist.agent.md
Due: markdown-lint

refactor: update violation reporting format in Clean Architecture agent documentation
  .github/agents/clean-architecture-specialist.agent.md
Due: markdown-lint

feat(domain): add ExerciseHistoryEntry model and IExerciseHistoryRepository interface
  lib/domain/models/practice/exercise_history_entry.dart
  lib/domain/repositories/exercise_history_repository.dart
Due: dart-fixes, dart-analyze

feat(data): add ExerciseHistoryTable, DAO, and schema v3 migration
  drift_schemas/app_database/drift_schema_v3.json
  lib/application/database/app_database.dart
  lib/application/database/app_database.g.dart
  lib/application/database/app_database.steps.dart
  lib/application/database/daos/exercise_history_dao.dart
  lib/application/database/daos/exercise_history_dao.g.dart
  lib/application/database/tables/exercise_history_table.dart
  test/app_database/generated/schema.dart
  test/app_database/generated/schema_v3.dart
  test/app_database/migration_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(app): implement ExerciseHistoryRepositoryImpl and register provider
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/main.dart
Due: dart-fixes, dart-analyze

feat(presentation): record exercise history on completion in PracticePageViewModel
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/practice_page_view_model.dart
Due: dart-fixes, dart-analyze

test: add exercise history tests and update test helpers
  test/application/database/app_database_test.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
  test/domain/models/practice/exercise_history_entry_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
  test/shared/test_helpers/mock_repositories.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
  test/shared/test_helpers/widget_test_helper.dart
Due: dart-fixes, test-selector-check, dart-analyze

docs: deprecate ADR-0025, add ADR-0028, update exercise-history spec
  docs/ADRs/0025-exercise-history-data-model.md
  docs/ADRs/0028-exercise-history-configuration-mirroring-schema.md
  docs/specifications/exercise-history.md
Due: markdown-lint

fix(data): add onCreate handler to ensure composite index on fresh installs
  lib/application/database/app_database.dart
Due: dart-fixes, dart-analyze

fix(app): sanitize logger and clarify arpeggioOctaves fallback in ExerciseHistoryRepositoryImpl
  lib/application/repositories/exercise_history_repository_impl.dart
Due: dart-fixes, dart-analyze

fix(presentation): snapshot exercise config before async boundary in PracticePageViewModel
  lib/presentation/features/practice/practice_page_view_model.dart
Due: dart-fixes, dart-analyze

test+docs: add migration v2->v3 data integrity test, extend repo tests, update spec
  docs/specifications/exercise-history.md
  test/app_database/migration_test.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

test: remove placeholder v1->v2 data integrity test
  test/app_database/migration_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(ui): show relative last-practiced time on profile chooser
  lib/presentation/features/user_profile/widgets/profile_list_item.dart
  test/presentation/features/user_profile/widgets/profile_list_item_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix(presentation): stamp UserProfile.lastPracticeDate on exercise completion
  lib/presentation/features/practice/practice_page_view_model.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: add case to verify history saving without profile update when profile is null
  test/presentation/features/practice/practice_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: add cases to verify display of practice time for 7 days, 14 days, and 2 years ago
  test/presentation/features/user_profile/widgets/profile_list_item_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(tests): add nowOverride to ProfileListItem for deterministic testing
  lib/presentation/features/user_profile/widgets/profile_list_item.dart
  test/presentation/features/user_profile/widgets/profile_list_item_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(docs): add documentation steward skill for managing specs and ADRs
  .github/skills/documentation-steward/SKILL.md
Due: markdown-lint

docs: add Practice History page spec and ADR-0029
  docs/ADRs/0029-practice-history-navigation-and-scope.md
  docs/ADRs/README.md
  docs/specifications/exercise-history.md
  docs/specifications/practice-history-page.md
Due: markdown-lint

feat: add Practice History page with bottom nav tab
  lib/presentation/features/history/history_page.dart
  lib/presentation/features/history/history_page_view_model.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  lib/presentation/widgets/main_navigation.dart
Due: dart-fixes, dart-analyze

test: add tests for Practice History feature
  test/presentation/features/history/history_page_test.dart
  test/presentation/features/history/history_page_view_model_test.dart
  test/presentation/widgets/main_navigation_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add PR preparation agent with quality gate checks and guidelines
  .github/agents/pr-prep.agent.md
Due: markdown-lint

feat: update PR Prep Agent name for clarity
  .github/agents/pr-prep.agent.md
Due: markdown-lint

feat: enhance PR Prep Agent tools for improved functionality
  .github/agents/pr-prep.agent.md
Due: markdown-lint

feat: add additional tools to PR Prep Agent for enhanced functionality
  .github/agents/pr-prep.agent.md
Due: markdown-lint

test(history): increase history_entry_card coverage to ≥80%
  test/presentation/features/history/history_page_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

docs: update CHANGELOG with history feature and backfill PR #56 entries
  CHANGELOG.md
Due: markdown-lint

test(main_navigation): add test for navigating to History tab and verify IndexedStack index
  test/presentation/widgets/main_navigation_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

Path conditions:
  dart-fixes: any of: *.dart
  markdown-lint: any of: *.md
  test-selector-check: any of: test/**/*_test.dart
  dart-analyze: any of: *.dart
