Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

lefthook.yml:

# Lefthook configuration for Piano Fitness
# Git hooks for code quality and consistency

pre-commit:
  commands:
    # Step 1: Apply automatic fixes and format (only for Dart files)
    dart-fixes:
      glob: "*.dart"
      run: |
        echo "🔧 Applying automatic Dart fixes..."
        dart fix --apply
        echo "🎨 Formatting Dart code..."
        dart format {staged_files}
        echo "📋 Re-staging fixed files..."
        git add {staged_files}
      stage_fixed: true

    # Step 2: Fix and lint markdown files
    markdown-lint:
      glob: "*.md"
      run: |
        echo "📝 Fixing and linting markdown files..."
        markdownlint --fix {staged_files}
        echo "📋 Re-staging fixed markdown files..."
        git add {staged_files}
      stage_fixed: true

    # Step 3: Check for text-based selectors in test files
    test-selector-check:
      glob: "test/**/*_test.dart"
      run: ./scripts/check-test-selectors.sh {staged_files}
      fail_text: |
        ❌ Text-based selectors detected in test files.
        
        Replace find.text() calls used with tester.tap() with find.byKey() calls.
        This improves test robustness and supports internationalization.
        
        Examples:
        ❌ await tester.tap(find.text("Practice"));
        ✅ await tester.tap(find.byKey(const Key("nav_tab_practice")));
        
        See test/GUIDELINES.md for more information on key-based testing.

    # Step 4: Run analysis after fixes (only for Dart files)
    dart-analyze:
      glob: "*.dart"
      run: |
        echo "🔍 Analyzing Dart code..."
        flutter analyze --no-fatal-infos
      fail_text: |
        ❌ Flutter analyze found issues that cannot be auto-fixed.
        Please review and fix the remaining warnings/errors before committing.
        Run 'flutter analyze' to see details.

pre-push:
  commands:
    # Run full test suite before pushing
    test:
      run: flutter test
      fail_text: "Tests failed. Please fix them before pushing."

refactor: improve hand display naming in ArpeggiosStrategy and ScalesStrategy
  lib/shared/models/practice_strategies/arpeggios_strategy.dart
  lib/shared/models/practice_strategies/scales_strategy.dart
Due: dart-fixes, dart-analyze

refactor: introduce practice UI constants and improve layout consistency
  lib/features/practice/practice_constants.dart
  lib/features/practice/practice_page.dart
  lib/features/practice/practice_page_view_model.dart
  lib/shared/constants/ui_constants.dart
  lib/shared/models/practice_session.dart
  lib/shared/services/midi_connection_service.dart
  lib/shared/widgets/practice_progress_display.dart
  lib/shared/widgets/practice_settings_panel.dart
  test/features/practice/practice_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: add PlayUIConstants for improved layout consistency in PlayPage
  lib/features/play/play_constants.dart
  lib/features/play/play_page.dart
Due: dart-fixes, dart-analyze

refactor: add NotificationsUIConstants for improved layout and responsiveness in NotificationsPage
  lib/features/notifications/notifications_constants.dart
  lib/features/notifications/notifications_page.dart
Due: dart-fixes, dart-analyze

refactor: add MidiSettingsUIConstants for improved layout and timeout management in MIDI settings
  lib/features/midi_settings/midi_settings_constants.dart
  lib/features/midi_settings/midi_settings_page.dart
  lib/features/midi_settings/midi_settings_view_model.dart
Due: dart-fixes, dart-analyze

refactor: add DeviceControllerUIConstants for improved MIDI handling and layout consistency
  lib/features/device_controller/device_controller_constants.dart
  lib/features/device_controller/device_controller_page.dart
  lib/features/device_controller/device_controller_view_model.dart
  lib/shared/constants/ui_constants.dart
Due: dart-fixes, dart-analyze

refactor: consolidate MIDI-related constants and improve UI consistency across components
  lib/features/device_controller/device_controller_constants.dart
  lib/features/device_controller/device_controller_page.dart
  lib/features/device_controller/device_controller_view_model.dart
  lib/features/midi_settings/midi_settings_constants.dart
  lib/features/midi_settings/midi_settings_page.dart
  lib/features/notifications/notifications_constants.dart
  lib/features/notifications/notifications_page.dart
  lib/features/play/play_constants.dart
  lib/features/play/play_page.dart
  lib/features/practice/practice_constants.dart
  lib/features/practice/practice_page.dart
  lib/shared/constants/ui_constants.dart
Due: dart-fixes, dart-analyze

refactor: enhance Notifications UI constants for gradient and shadow management
  lib/features/notifications/notifications_constants.dart
  lib/features/notifications/notifications_page.dart
Due: dart-fixes, dart-analyze

refactor: add ReferenceUIConstants for improved layout and consistency in Reference page
  lib/features/reference/reference_constants.dart
  lib/features/reference/reference_page.dart
Due: dart-fixes, dart-analyze

refactor: introduce RepertoireUIConstants for improved layout and timer management in Repertoire feature
  lib/features/repertoire/repertoire_constants.dart
  lib/features/repertoire/repertoire_page.dart
  lib/features/repertoire/repertoire_page_view_model.dart
Due: dart-fixes, dart-analyze

Refactor UI constants across features to use shared constants
  lib/features/midi_settings/midi_settings_constants.dart
  lib/features/midi_settings/midi_settings_view_model.dart
  lib/features/notifications/notifications_constants.dart
  lib/features/notifications/notifications_page.dart
  lib/features/play/play_constants.dart
  lib/features/play/play_page.dart
  lib/features/practice/practice_constants.dart
  lib/features/practice/practice_page.dart
  lib/features/reference/reference_constants.dart
  lib/features/reference/reference_page.dart
  lib/features/repertoire/repertoire_constants.dart
  lib/features/repertoire/repertoire_page.dart
  lib/main.dart
  lib/shared/constants/musical_constants.dart
  lib/shared/constants/ui_constants.dart
  lib/shared/widgets/practice_progress_display.dart
  lib/shared/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

refactor: update documentation in constants files for clarity and migration notes
  lib/features/device_controller/device_controller_constants.dart
  lib/features/midi_settings/midi_settings_constants.dart
  lib/features/play/play_constants.dart
  lib/features/practice/practice_constants.dart
Due: dart-fixes, dart-analyze

refactor: update permission handling to use async callback for improved responsiveness
  lib/features/notifications/notifications_page.dart
Due: dart-fixes, dart-analyze

refactor: introduce typography constants for consistent font sizing across the app
  lib/main.dart
  lib/shared/constants/typography_constants.dart
Due: dart-fixes, dart-analyze

refactor: replace hardcoded spacing values with constants for improved consistency in PracticeSettingsPanel
  lib/shared/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

refactor: update NotificationsUIConstants to use shared spacing and dimension constants for improved consistency
  lib/features/notifications/notifications_constants.dart
Due: dart-fixes, dart-analyze

refactor: enhance time picker to accept current time for improved user experience
  lib/features/notifications/notifications_page.dart
Due: dart-fixes, dart-analyze

refactor: remove unused MidiSettingsUIConstants class to streamline codebase
  lib/features/midi_settings/midi_settings_constants.dart
Due: dart-fixes, dart-analyze

refactor: clarify timer tick interval comment for better understanding
  lib/features/repertoire/repertoire_constants.dart
Due: dart-fixes, dart-analyze

refactor: replace hardcoded spacing values with constants for improved consistency in RepertoirePage
  lib/features/repertoire/repertoire_page.dart
Due: dart-fixes, dart-analyze

refactor: replace hardcoded padding values with constants for improved consistency in PracticeUIConstants
  lib/features/practice/practice_constants.dart
Due: dart-fixes, dart-analyze

refactor: replace hardcoded blur radius with standard value for improved consistency in shadow effects
  lib/features/repertoire/repertoire_page.dart
Due: dart-fixes, dart-analyze

refactor: introduce RepertoireHeader and RepertoireInfoModal components for improved modularity and readability in RepertoirePage
  lib/features/repertoire/repertoire_page.dart
  lib/features/repertoire/widgets/app_recommendation_card.dart
  lib/features/repertoire/widgets/repertoire_header.dart
  lib/features/repertoire/widgets/repertoire_info_modal.dart
Due: dart-fixes, dart-analyze

refactor: modularize RepertoireInfoModal by extracting header, intro card, app recommendations, and practice timer info into separate methods for improved readability and maintainability
  lib/features/repertoire/widgets/repertoire_info_modal.dart
Due: dart-fixes, dart-analyze

feat: add support for seventh chords in practice settings and related tests
  lib/features/practice/practice_page.dart
  lib/features/practice/practice_page_view_model.dart
  lib/shared/models/practice_session.dart
  lib/shared/models/practice_strategies/chords_by_key_strategy.dart
  lib/shared/utils/chord_inversion_utils.dart
  lib/shared/utils/chords.dart
  lib/shared/widgets/practice_settings_panel.dart
  test/shared/models/practice_strategies/chords_by_key_strategy_test.dart
  test/shared/utils/chords_test.dart
  test/shared/widgets/practice_settings_panel_test.dart
  test/shared/widgets/practice_settings_panel_theme_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: remove unused getInversionProgression method and related tests for chord inversions
  lib/shared/utils/chord_inversion_utils.dart
  test/shared/utils/chord_inversion_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: enhance seventh chord tests to include all inversions and validate MIDI note generation
  test/shared/utils/chords_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add debug logging for unexpected interval combinations in getSeventhChordsInKey
  lib/shared/utils/chords.dart
Due: dart-fixes, dart-analyze

refactor: consolidate expected note count logic for chord types
  test/shared/utils/chords_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: implement valid inversions for seventh chords and refactor related tests
  test/shared/utils/chords_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add support for third inversion in seventh chords and enhance related tests
  lib/shared/utils/chords.dart
  test/shared/utils/chord_by_type_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add isSeventhChord property and improve third inversion handling in chord definitions
  lib/shared/utils/chords.dart
Due: dart-fixes, dart-analyze

feat: add Flutter Prunekit configuration and integrate it into pubspec.yaml
  flutter_prunekit.yaml
  pubspec.lock
  pubspec.yaml
Due: none

refactor: remove dead code and unused accessibility components
  flutter_prunekit.yaml
  lib/shared/accessibility/accessibility.dart
  lib/shared/accessibility/mixins/accessibility_mixins.dart
  lib/shared/accessibility/services/midi_accessibility_service.dart
  lib/shared/accessibility/widgets/accessible_widgets.dart
Due: dart-fixes, dart-analyze

refactor: simplify timer callback and remove unused MIDI controls
  lib/features/repertoire/repertoire_page_view_model.dart
  lib/features/repertoire/widgets/repertoire_responsive_layout.dart
  lib/shared/widgets/midi_controls.dart
  lib/shared/widgets/midi_status_indicator.dart
Due: dart-fixes, dart-analyze

refactor: enhance repertoire layout and UI constants for improved responsiveness
  lib/features/repertoire/repertoire_constants.dart
  lib/features/repertoire/widgets/repertoire_responsive_layout.dart
  lib/shared/constants/ui_constants.dart
Due: dart-fixes, dart-analyze

refactor: update optional checks configuration for clarity and future cleanup
  flutter_prunekit.yaml
Due: none

chore: update watcher package version to 1.2.0 and sha256 hash
  pubspec.lock
Due: none

chore: update changelog with new features, dependency updates, and improvements
  CHANGELOG.md
Due: markdown-lint

feat: implement auto key progression through the circle of fifths in practice sessions
  lib/features/practice/practice_page.dart
  lib/features/practice/practice_page_view_model.dart
  lib/shared/models/practice_session.dart
  lib/shared/utils/circle_of_fifths.dart
  lib/shared/widgets/practice_settings_panel.dart
  test/shared/models/practice_session_test.dart
  test/shared/utils/circle_of_fifths_test.dart
  test/shared/widgets/practice_settings_panel_test.dart
  test/shared/widgets/practice_settings_panel_theme_test.dart
Due: dart-fixes, test-selector-check, dart-analyze
