Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

lefthook.yml:

# Lefthook configuration for Piano Fitness
# Git hooks for code quality and consistency

pre-commit:
  commands:
    # Step 1: Apply automatic fixes and format (only for Dart files)
    dart-fixes:
      glob: "*.dart"
      run: |
        echo "🔧 Applying automatic Dart fixes..."
        dart fix --apply
        echo "🎨 Formatting Dart code..."
        dart format {staged_files}
        echo "📋 Re-staging fixed files..."
        git add {staged_files}
      stage_fixed: true

    # Step 2: Fix and lint markdown files
    markdown-lint:
      glob: "*.md"
      run: |
        echo "📝 Fixing and linting markdown files..."
        markdownlint --fix {staged_files}
        echo "📋 Re-staging fixed markdown files..."
        git add {staged_files}
      stage_fixed: true

    # Step 3: Check for text-based selectors in test files
    test-selector-check:
      glob: "test/**/*_test.dart"
      run: ./scripts/check-test-selectors.sh {staged_files}
      fail_text: |
        ❌ Text-based selectors detected in test files.
        
        Replace find.text() calls used with tester.tap() with find.byKey() calls.
        This improves test robustness and supports internationalization.
        
        Examples:
        ❌ await tester.tap(find.text("Practice"));
        ✅ await tester.tap(find.byKey(const Key("nav_tab_practice")));
        
        See test/GUIDELINES.md for more information on key-based testing.

    # Step 4: Run analysis after fixes (only for Dart files)
    dart-analyze:
      glob: "*.dart"
      run: |
        echo "🔍 Analyzing Dart code..."
        flutter analyze --no-fatal-infos
      fail_text: |
        ❌ Flutter analyze found issues that cannot be auto-fixed.
        Please review and fix the remaining warnings/errors before committing.
        Run 'flutter analyze' to see details.

pre-push:
  commands:
    # Run full test suite before pushing
    test:
      run: flutter test
      fail_text: "Tests failed. Please fix them before pushing."

fix: update step numbering in PR Prep Agent documentation
  .github/agents/pr-prep.agent.md
Due: markdown-lint

docs: update PR Prep Agent documentation for commit message format and output styles
  .github/agents/pr-prep.agent.md
Due: markdown-lint

docs: update widget structure formatting in practice history page specification
  docs/specifications/practice-history-page.md
Due: markdown-lint

docs: correct spelling and clarify import rules in PR Prep Agent documentation
  .github/agents/pr-prep.agent.md
  docs/specifications/practice-history-page.md
Due: markdown-lint

feat: add Dart extensions to VSCode recommendations
  .vscode/extensions.json
Due: none

feat: update plugin registration and dependencies for device manager and jni
  linux/flutter/generated_plugins.cmake
  pubspec.lock
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Due: none

feat: update Podfile.lock and project files for Flutter integration and add Swift package support
  macos/Podfile.lock
  macos/Runner.xcodeproj/project.pbxproj
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Refactor MIDI functionality and update dependencies
  flutter_prunekit.yaml
  lib/application/database/app_database.dart
  lib/application/database/app_database.g.dart
  lib/application/repositories/midi_repository_impl.dart
  lib/application/services/midi/midi_connection_service.dart
  lib/application/services/midi/midi_device_discovery_service_impl.dart
  lib/domain/services/midi_device_discovery_service.dart
  lib/main.dart
  lib/presentation/features/midi_settings/midi_settings_view_model.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
  test/shared/test_helpers/mock_repositories.mocks.dart
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Due: dart-fixes, dart-analyze

feat: wrap toggle and checkbox widgets in Material for better styling
  lib/presentation/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

feat: remove unused dependencies and update project configuration for better compatibility
  macos/Podfile.lock
  macos/Runner.xcodeproj/project.pbxproj
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

feat: implement custom PianoKeyboard widget with enhanced MIDI integration and visual feedback
  docs/specifications/piano-keyboard-component.md
Due: markdown-lint

feat: add configuration for MCP server in config.toml
  .codex/config.toml
Due: none

feat: remove CocoaPods integration and update project configuration for improved compatibility
  ios/Flutter/Debug.xcconfig
  ios/Flutter/Release.xcconfig
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  ios/Runner.xcworkspace/contents.xcworkspacedata
Due: none

feat: refactor PianoKeyboard painting logic for improved performance and clarity
  lib/presentation/widgets/piano_keyboard/piano_keyboard.dart
Due: dart-fixes, dart-analyze

feat: add note label mode to PianoKeyboard in play, practice, and reference pages
  lib/presentation/features/play/play_page.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/reference/reference_page.dart
Due: dart-fixes, dart-analyze

feat: add fingering hints and annotations to practice strategies and piano keyboard
  lib/application/state/practice_session.dart
  lib/domain/models/practice/strategies/arpeggios_strategy.dart
  lib/domain/models/practice/strategies/chords_by_key_strategy.dart
  lib/domain/models/practice/strategies/chords_by_type_strategy.dart
  lib/domain/models/practice/strategies/scales_strategy.dart
  lib/domain/services/music_theory/fingering_hints.dart
  lib/presentation/constants/ui_constants.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard.dart
Due: dart-fixes, dart-analyze

feat: enhance fingering hints for scales and arpeggios; add comprehensive tests
  lib/domain/models/practice/strategies/arpeggios_strategy.dart
  lib/domain/models/practice/strategies/chords_by_key_strategy.dart
  lib/domain/models/practice/strategies/chords_by_type_strategy.dart
  lib/domain/models/practice/strategies/scales_strategy.dart
  lib/domain/services/music_theory/fingering_hints.dart
  test/domain/services/music_theory/fingering_hints_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: improve MIDI handling and keyboard interaction; refactor key press logic and enhance tests
  lib/presentation/features/play/play_page_view_model.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/features/reference/reference_page_view_model.dart
  lib/presentation/utils/piano_accessibility_utils.dart
  lib/presentation/utils/piano_range_utils.dart
  lib/presentation/widgets/piano_keyboard/piano_key_visual.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard.dart
  test/application/utils/virtual_piano_utils_test.dart
  test/domain/services/music_theory/fingering_hints_test.dart
  test/presentation/features/play/play_page_test.dart
  test/presentation/features/play/play_page_view_model_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
  test/presentation/features/reference/reference_integration_test.dart
  test/presentation/features/reference/reference_page_test.dart
  test/presentation/features/reference/reference_page_view_model_test.dart
  test/presentation/utils/piano_range_utils_test.dart
  test/presentation/widgets/piano_keyboard/piano_key_visual_test.dart
  test/presentation/widgets/piano_keyboard/piano_keyboard_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

Refactor practice strategies to utilize PracticeNote for MIDI note handling
  docs/specifications/exercise-sequence.md
  lib/application/state/practice_session.dart
  lib/domain/models/practice/exercise.dart
  lib/domain/models/practice/practice_note.dart
  lib/domain/models/practice/strategies/arpeggios_strategy.dart
  lib/domain/models/practice/strategies/chord_progressions_strategy.dart
  lib/domain/models/practice/strategies/chords_by_key_strategy.dart
  lib/domain/models/practice/strategies/chords_by_type_strategy.dart
  lib/domain/models/practice/strategies/dominant_cadence_strategy.dart
  lib/domain/models/practice/strategies/scales_strategy.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/utils/practice_accessibility_utils.dart
  test/application/state/practice_session_test.dart
  test/domain/models/practice/exercise_test.dart
  test/domain/models/practice/strategies/arpeggios_strategy_test.dart
  test/domain/models/practice/strategies/chord_progressions_strategy_test.dart
  test/domain/models/practice/strategies/chords_by_key_strategy_test.dart
  test/domain/models/practice/strategies/chords_by_type_strategy_test.dart
  test/domain/models/practice/strategies/dominant_cadence_strategy_test.dart
  test/domain/models/practice/strategies/scales_strategy_test.dart
  test/presentation/widgets/practice_progress_display_theme_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Refactor practice settings panel layout, update integration tests for reference page, and enhance piano range utility tests
  AGENTS.md
  lib/presentation/features/play/play_page.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/reference/reference_constants.dart
  lib/presentation/features/reference/reference_page.dart
  lib/presentation/utils/piano_range_utils.dart
  lib/presentation/widgets/main_navigation.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/presentation/features/reference/reference_integration_test.dart
  test/presentation/features/reference/reference_page_test.dart
  test/presentation/utils/piano_range_utils_test.dart
  test/presentation/widgets/main_navigation_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

feat: refactor reference page configuration to use ReferenceConfigRow widget and update integration tests
  lib/presentation/features/reference/reference_page.dart
  lib/presentation/features/reference/widgets/reference_config_row.dart
  lib/presentation/widgets/main_navigation.dart
  test/presentation/features/reference/reference_integration_test.dart
  test/presentation/features/reference/reference_page_test.dart
  test/presentation/widgets/main_navigation_test.dart
  test/shared/test_helpers/dropdown_test_helpers.dart
  test/shared/test_helpers/pump_helpers.dart
Due: dart-fixes, test-selector-check, dart-analyze

Add tests for Block Chords and Arpeggios functionality
  docs/specifications/exercise-sequence.md
  drift_schemas/app_database/drift_schema_v4.json
  lib/application/database/app_database.dart
  lib/application/database/app_database.g.dart
  lib/application/database/app_database.steps.dart
  lib/application/database/tables/exercise_history_table.dart
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/application/state/practice_session.dart
  lib/domain/models/music/arpeggio_type.dart
  lib/domain/models/music/chord_tone_pattern.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/domain/models/practice/exercise_history_entry.dart
  lib/domain/models/practice/practice_mode.dart
  lib/domain/models/practice/strategies/arpeggios_strategy.dart
  lib/domain/models/practice/strategies/block_chords_strategy.dart
  lib/domain/models/practice/strategies/practice_strategies.dart
  lib/domain/services/music_theory/arpeggios.dart
  lib/domain/services/music_theory/fingering_hints.dart
  lib/domain/services/music_theory/tone_pattern.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  lib/presentation/features/practice/practice_hub_page.dart
  lib/presentation/widgets/practice_progress_display.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/app_database/generated/schema.dart
  test/app_database/generated/schema_v4.dart
  test/application/database/app_database_test.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
  test/domain/models/practice/exercise_configuration_test.dart
  test/domain/models/practice/exercise_history_entry_test.dart
  test/domain/models/practice/practice_mode_test.dart
  test/domain/models/practice/strategies/arpeggios_strategy_test.dart
  test/domain/models/practice/strategies/block_chords_strategy_test.dart
  test/domain/services/music_theory/arpeggios_test.dart
  test/domain/services/music_theory/fingering_hints_test.dart
  test/domain/services/music_theory/tone_pattern_test.dart
  test/presentation/features/history/history_page_test.dart
  test/presentation/features/practice/practice_hub_page_test.dart
  test/presentation/widgets/practice_settings_panel_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

feat: expand arpeggio and block chords functionality in practice session and settings
  lib/application/state/practice_session.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/domain/models/practice/strategies/arpeggios_strategy.dart
  lib/domain/models/practice/strategies/block_chords_strategy.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  lib/presentation/features/practice/practice_hub_page.dart
  lib/presentation/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

feat: enhance piano range calculation to ensure all notes are visible for exercises exceeding standard window
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/utils/piano_range_utils.dart
  test/presentation/utils/piano_range_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

docs: rework metronome spec timing design around a lookahead scheduler
  docs/specifications/metronome-component.md
Due: markdown-lint

feat: add metronome tool with lookahead-scheduled timing
  lib/application/repositories/metronome_audio_service_impl.dart
  lib/domain/models/metronome/beat_emphasis.dart
  lib/domain/models/metronome/beat_info.dart
  lib/domain/models/metronome/metronome_sound.dart
  lib/domain/models/metronome/time_signature.dart
  lib/domain/repositories/metronome_audio_service.dart
  lib/domain/services/metronome/beat_tracker.dart
  lib/domain/services/metronome/metronome_scheduler.dart
  lib/domain/services/metronome/tempo_calculator.dart
  lib/main.dart
  lib/presentation/features/metronome/metronome_page.dart
  lib/presentation/features/metronome/metronome_page_view_model.dart
  lib/presentation/features/metronome/widgets/metronome_beat_indicator.dart
  lib/presentation/features/practice/practice_hub_page.dart
  pubspec.lock
  pubspec.yaml
  test/domain/models/metronome/time_signature_test.dart
  test/domain/services/metronome/beat_tracker_test.dart
  test/domain/services/metronome/metronome_scheduler_test.dart
  test/domain/services/metronome/tempo_calculator_test.dart
  test/presentation/features/metronome/metronome_page_test.dart
  test/presentation/features/metronome/metronome_page_view_model_test.dart
  test/shared/test_helpers/mock_repositories.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: make the metronome global and add quick-access controls everywhere
  lib/application/state/metronome_state.dart
  lib/main.dart
  lib/presentation/features/metronome/metronome_page.dart
  lib/presentation/features/metronome/widgets/metronome_bpm_control.dart
  lib/presentation/features/metronome/widgets/metronome_quick_panel.dart
  lib/presentation/features/metronome/widgets/metronome_time_signature_selector.dart
  lib/presentation/features/metronome/widgets/metronome_transport_controls.dart
  lib/presentation/widgets/main_navigation.dart
  test/application/state/metronome_state_test.dart
  test/presentation/features/metronome/metronome_page_test.dart
  test/presentation/features/metronome/metronome_page_view_model_test.dart
  test/presentation/widgets/main_navigation_test.dart
  test/shared/test_helpers/widget_test_helper.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: metronome refinements
  docs/specifications/metronome-component.md
  lib/application/state/metronome_state.dart
  lib/domain/models/metronome/metronome_sound.dart
  lib/domain/services/metronome/beat_tracker.dart
  lib/domain/services/metronome/metronome_scheduler.dart
  lib/domain/services/metronome/tempo_calculator.dart
  lib/presentation/features/metronome/metronome_page.dart
  lib/presentation/features/metronome/widgets/metronome_control_panel.dart
  lib/presentation/features/metronome/widgets/metronome_quick_panel.dart
  test/domain/services/metronome/beat_tracker_test.dart
  test/domain/services/metronome/tempo_calculator_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

fix: address code review findings in metronome feature
  lib/application/repositories/metronome_audio_service_impl.dart
  lib/application/state/metronome_state.dart
  lib/presentation/features/metronome/widgets/metronome_beat_indicator.dart
  lib/presentation/features/practice/practice_hub_page.dart
  lib/presentation/widgets/main_navigation.dart
  test/presentation/widgets/main_navigation_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

docs: exercise accuracy spec
  docs/specifications/exercise-accuracy.md
Due: markdown-lint

feat: initial exercise accuracy
  drift_schemas/app_database/drift_schema_v5.json
  lib/application/database/app_database.dart
  lib/application/database/app_database.steps.dart
  lib/application/database/tables/exercise_history_table.dart
  lib/application/state/practice_session.dart
  lib/domain/models/practice/exercise_history_entry.dart
  lib/domain/services/music_theory/fingering_hints.dart
  lib/domain/services/music_theory/tone_pattern.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/features/reference/reference_page_view_model.dart
  lib/presentation/features/reference/widgets/reference_config_row.dart
  lib/presentation/theme/piano_key_colors.dart
  lib/presentation/utils/piano_accessibility_utils.dart
  lib/presentation/utils/piano_range_utils.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard_geometry.dart
  test/app_database/generated/schema.dart
  test/app_database/generated/schema_v5.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
  test/application/state/practice_session_test.dart
  test/domain/models/practice/practice_mode_test.dart
  test/domain/models/practice/strategies/arpeggios_strategy_test.dart
  test/domain/services/music_theory/fingering_hints_test.dart
  test/domain/services/music_theory/tone_pattern_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
  test/presentation/features/reference/reference_page_test.dart
  test/presentation/utils/piano_range_utils_test.dart
  test/presentation/widgets/piano_keyboard/piano_keyboard_geometry_test.dart
  test/presentation/widgets/piano_keyboard/piano_keyboard_test.dart
  test/presentation/widgets/practice_settings_panel_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: simplify PracticeSession by extracting PracticeRunner and ExerciseStrategyFactory
  lib/application/state/exercise_strategy_factory.dart
  lib/application/state/practice_runner.dart
  lib/application/state/practice_session.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  test/application/database/app_database_test.dart
  test/application/state/practice_session_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix: inline comments from review (withMode clearing, db test comment)
  lib/domain/models/practice/exercise_configuration.dart
  test/application/database/app_database_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: cleanup MIDI note domain models and notification settings, and optimize key utility lookup
  docs/plans/ACCESSIBILITY_PLAN.md
  docs/plans/NOTIFICATIONS_PLAN.md
  lib/application/models/notification_settings.dart
  lib/application/repositories/midi_repository_impl.dart
  lib/domain/models/midi_note.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/domain/models/practice/strategies/block_chords_strategy.dart
  lib/domain/models/practice/strategies/practice_strategy.dart
  lib/domain/services/music_theory/note_utils.dart
  lib/presentation/utils/piano_key_utils.dart
  test/domain/models/midi_note_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

refactor: simplify music theory utilities, decouple notification settings, and optimize keyboard geometry rendering
  lib/application/models/notification_settings.dart
  lib/domain/models/music/midi_note.dart
  lib/domain/services/music_theory/note_utils.dart
  lib/presentation/utils/piano_key_utils.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard_geometry.dart
Due: dart-fixes, dart-analyze

refactor: update notification view model tests to use mockito repositories and add accessibility service unit tests
  lib/application/repositories/user_profile_repository_impl.dart
  scripts/commit_validator.dart
  test/application/repositories/notification_repository_impl_test.dart
  test/presentation/accessibility/piano_semantics_service_test.dart
  test/presentation/features/notifications/notifications_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: implement MIDI device UI, practice settings, and expanded service testing suite
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/application/services/midi/midi_device_discovery_service_impl.dart
  lib/domain/models/midi/midi_event.dart
  lib/domain/services/midi/midi_service.dart
  lib/presentation/features/midi_settings/midi_settings_page.dart
  lib/presentation/features/midi_settings/widgets/midi_device_list_tile.dart
  lib/presentation/features/repertoire/widgets/repertoire_info_modal.dart
  lib/presentation/features/repertoire/widgets/repertoire_timer_display.dart
  lib/presentation/features/repertoire/widgets/repertoire_timer_progress_ring.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard_painter.dart
  lib/presentation/widgets/practice_settings/practice_mode_settings.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/application/repositories/audio_service_impl_test.dart
  test/application/repositories/metronome_audio_service_impl_test.dart
  test/application/repositories/midi_repository_impl_test.dart
  test/application/services/midi_device_discovery_service_impl_test.dart
  test/presentation/accessibility/musical_announcements_service_test.dart
  test/presentation/features/midi_settings/midi_settings_view_model_test.dart
  test/presentation/features/midi_settings/widgets/midi_device_list_tile_test.dart
  test/presentation/features/notifications/notifications_page_test.dart
  test/presentation/features/repertoire/widgets/app_recommendation_card_test.dart
  test/presentation/features/repertoire/widgets/repertoire_info_modal_test.dart
  test/presentation/theme/semantic_colors_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: extract repertoire timer controls and status badge into modular components
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/application/services/midi/midi_device_discovery_service_impl.dart
  lib/domain/models/midi/midi_event.dart
  lib/domain/services/midi/midi_service.dart
  lib/presentation/features/midi_settings/midi_settings_page.dart
  lib/presentation/features/repertoire/widgets/duration/duration_chip_grid.dart
  lib/presentation/features/repertoire/widgets/repertoire_duration_selector.dart
  lib/presentation/features/repertoire/widgets/repertoire_timer_display.dart
  lib/presentation/features/repertoire/widgets/repertoire_timer_progress_ring.dart
  lib/presentation/features/repertoire/widgets/timer/repertoire_timer_controls.dart
  lib/presentation/features/repertoire/widgets/timer/repertoire_timer_status_badge.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard.dart
  lib/presentation/widgets/practice_settings/practice_settings_hand_selector.dart
  lib/presentation/widgets/practice_settings/practice_settings_status_control.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/application/repositories/audio_service_impl_test.dart
  test/application/repositories/metronome_audio_service_impl_test.dart
  test/application/repositories/midi_repository_impl_test.dart
  test/application/repositories/notification_repository_impl_test.dart
  test/application/services/midi_device_discovery_service_impl_test.dart
  test/presentation/accessibility/musical_announcements_service_test.dart
  test/presentation/features/midi_settings/midi_settings_view_model_test.dart
  test/presentation/features/midi_settings/widgets/midi_device_list_tile_test.dart
  test/presentation/features/notifications/notifications_page_test.dart
  test/presentation/features/repertoire/widgets/repertoire_timer_display_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: implement practice runner, add unit tests for application state and repositories, and introduce coverage summary script.
  scripts/coverage_summary.dart
  test/application/database/tables/database_tables_test.dart
  test/application/models/notification_settings_test.dart
  test/application/repositories/audio_service_impl_test.dart
  test/application/repositories/metronome_audio_service_impl_test.dart
  test/application/repositories/midi_repository_impl_test.dart
  test/application/repositories/notification_repository_impl_test.dart
  test/application/repositories/user_profile_repository_impl_test.dart
  test/application/services/midi/midi_connection_service_test.dart
  test/application/services/midi_device_discovery_service_impl_test.dart
  test/application/services/notifications/notification_service_test.dart
  test/application/state/exercise_strategy_factory_test.dart
  test/application/state/metronome_state_test.dart
  test/application/state/practice_runner_test.dart
  test/application/state/practice_session_test.dart
  test/application/utils/midi_data_handler_test.dart
Due: dart-fixes, test-selector-check, dart-analyze
