Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

dart-fixes:
  run: 'echo "🔧 Applying automatic Dart fixes..."
  
    dart fix --apply
  
    echo "🎨 Formatting Dart code..."
  
    dart format {staged_files}
  
    echo "📋 Re-staging fixed files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

markdown-lint:
  run: 'echo "📝 Fixing and linting markdown files..."
  
    markdownlint --fix {staged_files}
  
    echo "📋 Re-staging fixed markdown files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

test-selector-check:
  run: ./scripts/check-test-selectors.sh {staged_files}
  fail_text: '❌ Text-based selectors detected in test files.
  
  
    Replace find.text() calls used with tester.tap() with find.byKey() calls.
  
    This improves test robustness and supports internationalization.
  
  
    Examples:
  
  ...

dart-analyze:
  run: 'echo "🔍 Analyzing Dart code..."
  
    flutter analyze --no-fatal-infos
  
    '
  fail_text: '❌ Flutter analyze found issues that cannot be auto-fixed.
  
    Please review and fix the remaining warnings/errors before committing.
  
    Run ''flutter analyze'' to see details.
  
    '

refactor: remove deprecated MIDI state methods from view models
  lib/features/play/play_page_view_model.dart
  lib/features/practice/practice_page_view_model.dart
  lib/features/reference/reference_page_view_model.dart
  lib/shared/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

feat: enforce minimum startOctave for hand selection in arpeggios and scales
  lib/shared/models/chord_progression_type.dart
  lib/shared/utils/arpeggios.dart
  lib/shared/utils/chords.dart
  lib/shared/utils/scales.dart
  test/shared/utils/arpeggios_test.dart
  test/shared/utils/scales_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: refine right-hand note sequence validation in hand selection tests
  test/shared/utils/scales_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: enhance PracticeSettingsPanel tests for hand selection functionality
  test/shared/widgets/practice_settings_panel_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix: make ButtonStyle constant for improved performance in PracticeSettingsPanel
  lib/shared/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

fix: add defensive checks for complete note pairs in hand selection
  lib/shared/models/practice_session.dart
Due: dart-fixes, dart-analyze

fix: replace hardcoded octave offset with MusicalConstants for consistency in hand selection tests
  test/shared/utils/arpeggios_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: refactor SegmentedButton tests for improved clarity and consistency
  test/shared/widgets/practice_settings_panel_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: rename _currentlyHeldChordNotes to _currentlyHeldNotes for clarity
  lib/shared/models/practice_session.dart
Due: dart-fixes, dart-analyze

fix: enforce minimum octave requirement for both hands in chord progression
  lib/shared/models/chord_progression_type.dart
  test/shared/models/chord_progression_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: streamline comments and improve clarity in PracticeSettingsPanel tests
  test/shared/widgets/practice_settings_panel_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add comprehensive hand selection functionality with intelligent octave management and extensive test coverage
  CHANGELOG.md
Due: markdown-lint

fix: simplify chord note tracking by allowing all held notes for completion check
  lib/shared/models/practice_session.dart
Due: dart-fixes, dart-analyze

fix: replace assertions with ArgumentError for octave validation in hand sequences
  lib/shared/models/chord_progression_type.dart
  lib/shared/utils/arpeggios.dart
  lib/shared/utils/scales.dart
  test/shared/models/chord_progression_test.dart
  test/shared/utils/arpeggios_test.dart
  test/shared/utils/scales_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: add helper function to validate paired octave offset in hand selection sequences
  test/shared/utils/arpeggios_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

release: prepare version 0.4.0
  CHANGELOG.md
  pubspec.yaml
Due: markdown-lint

docs: update App Store listing for 0.4.0 release
  docs/app_store.md
Due: markdown-lint

Refactor simulator scripts: rename and consolidate
  ios/Podfile.lock
  scripts/automated-screenshots-ipad.sh
  scripts/automated-screenshots-iphone.sh
  scripts/run-ipad-simulator.sh
  scripts/run-iphone-simulator.sh
Due: none

fix: improve simulator detection for iPad Pro 13-inch
  scripts/automated-screenshots-ipad.sh
Due: none

fix: correct release date to 2025-12-12
  CHANGELOG.md
Due: markdown-lint

fix: use SCREENSHOT_DIR variable consistently in iPhone script
  scripts/automated-screenshots-iphone.sh
Due: none

docs: update screenshot requirements to iPhone 15 Plus (6.7-inch)
  docs/app_store.md
Due: markdown-lint

fix: update iPhone script to support Plus models for screenshots
  scripts/automated-screenshots-iphone.sh
Due: none

fix: use iPhone 13 Pro Max for correct App Store screenshot dimensions
  docs/app_store.md
  scripts/automated-screenshots-iphone.sh
Due: markdown-lint

feat: add Result and ValidationError classes for functional error handling
  lib/shared/models/result.dart
  lib/shared/models/validation_error.dart
  test/shared/models/result_test.dart
  test/shared/models/validation_error_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: implement practice configuration classes for arpeggios, chords, and scales
  lib/shared/models/arpeggio_octaves.dart
  lib/shared/models/arpeggio_type.dart
  lib/shared/models/chord_progression.dart
  lib/shared/models/chord_type.dart
  lib/shared/models/configurations/arpeggio_configuration.dart
  lib/shared/models/configurations/chord_progression_configuration.dart
  lib/shared/models/configurations/chords_by_key_configuration.dart
  lib/shared/models/configurations/chords_by_type_configuration.dart
  lib/shared/models/configurations/scale_configuration.dart
  lib/shared/models/music_key.dart
  lib/shared/models/musical_note.dart
  lib/shared/models/practice_configuration.dart
  lib/shared/models/scale_type.dart
  test/shared/models/configurations/arpeggio_configuration_test.dart
  test/shared/models/configurations/chord_progression_configuration_test.dart
  test/shared/models/configurations/chords_by_key_configuration_test.dart
  test/shared/models/configurations/chords_by_type_configuration_test.dart
  test/shared/models/configurations/scale_configuration_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add PracticeStrategy interface and StrategyFactory for practice mode management
  lib/shared/models/practice_strategy.dart
  lib/shared/models/strategy_factory.dart
  test/shared/models/practice_strategy_test.dart
  test/shared/models/strategy_factory_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: clean up arpeggio and musical note enums, implement arpeggio and scale strategies
  lib/shared/models/arpeggio_octaves.dart
  lib/shared/models/arpeggio_type.dart
  lib/shared/models/configurations/arpeggio_configuration.dart
  lib/shared/models/musical_note.dart
  lib/shared/models/strategies/arpeggio_strategy.dart
  lib/shared/models/strategies/scale_strategy.dart
  lib/shared/models/strategy_factory.dart
  test/shared/models/configurations/arpeggio_configuration_test.dart
  test/shared/models/strategies/arpeggio_strategy_test.dart
  test/shared/models/strategy_factory_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: implement chord progression, chords by key, and chords by type strategies with corresponding tests
  lib/shared/models/strategies/chord_progression_strategy.dart
  lib/shared/models/strategies/chords_by_key_strategy.dart
  lib/shared/models/strategies/chords_by_type_strategy.dart
  lib/shared/models/strategy_factory.dart
  lib/shared/utils/chords.dart
  test/shared/models/strategies/chord_progression_strategy_test.dart
  test/shared/models/strategies/chords_by_key_strategy_test.dart
  test/shared/models/strategies/chords_by_type_strategy_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: streamline imports and remove unused chord-related code to resolve ambiguity
  lib/features/practice/practice_page.dart
  lib/features/practice/practice_page_view_model.dart
  lib/shared/models/configurations/chord_progression_configuration.dart
  lib/shared/models/practice_session.dart
  lib/shared/widgets/practice_settings_panel.dart
  test/features/practice/practice_page_view_model_test.dart
  test/shared/models/configurations/chord_progression_configuration_test.dart
  test/shared/widgets/practice_settings_panel_test.dart
  test/shared/widgets/practice_settings_panel_theme_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: add index guard and fallback in toScaleType, enhance ChordsByTypeStrategy with chord handling, and improve StrategyFactory registration
  lib/shared/models/practice_session.dart
  lib/shared/models/strategies/chords_by_type_strategy.dart
  lib/shared/models/strategy_factory.dart
  test/features/practice/practice_page_view_model_test.dart
  test/shared/models/strategy_factory_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: implement unified PracticeExercise model with Strategy pattern
  lib/shared/models/practice_exercise.dart
  lib/shared/models/practice_session.dart
  lib/shared/models/practice_strategies/arpeggios_strategy.dart
  lib/shared/models/practice_strategies/chord_progressions_strategy.dart
  lib/shared/models/practice_strategies/chords_by_key_strategy.dart
  lib/shared/models/practice_strategies/chords_by_type_strategy.dart
  lib/shared/models/practice_strategies/practice_strategies.dart
  lib/shared/models/practice_strategies/practice_strategy.dart
  lib/shared/models/practice_strategies/scales_strategy.dart
  test/shared/models/practice_strategies/arpeggios_strategy_test.dart
  test/shared/models/practice_strategies/chord_progressions_strategy_test.dart
  test/shared/models/practice_strategies/chords_by_key_strategy_test.dart
  test/shared/models/practice_strategies/chords_by_type_strategy_test.dart
  test/shared/models/practice_strategies/scales_strategy_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: complete migration to unified PracticeExercise model
  lib/shared/models/practice_session.dart
Due: dart-fixes, dart-analyze

refactor: update PracticeExercise model usage and improve accessibility features
  lib/features/practice/practice_page.dart
  lib/shared/models/practice_session.dart
  lib/shared/models/practice_strategies/arpeggios_strategy.dart
  lib/shared/models/practice_strategies/chord_progressions_strategy.dart
  lib/shared/models/practice_strategies/chords_by_key_strategy.dart
  lib/shared/models/practice_strategies/chords_by_type_strategy.dart
  lib/shared/models/practice_strategies/scales_strategy.dart
  lib/shared/utils/practice_accessibility_utils.dart
  lib/shared/widgets/practice_progress_display.dart
  test/features/practice/practice_page_view_model_test.dart
  test/shared/widgets/practice_progress_display_theme_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: add hand selection support to practice strategies and tests
  lib/shared/models/practice_session.dart
  lib/shared/models/practice_strategies/chord_progressions_strategy.dart
  lib/shared/models/practice_strategies/chords_by_key_strategy.dart
  lib/shared/models/practice_strategies/chords_by_type_strategy.dart
  test/shared/models/practice_strategies/chord_progressions_strategy_test.dart
  test/shared/models/practice_strategies/chords_by_key_strategy_test.dart
  test/shared/models/practice_strategies/chords_by_type_strategy_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: add validation for even number of notes in both hands mode for arpeggios and scales strategies
  lib/shared/models/practice_strategies/arpeggios_strategy.dart
  lib/shared/models/practice_strategies/scales_strategy.dart
Due: dart-fixes, dart-analyze

refactor: remove unused chord exercise property and related tests in ChordsByTypeStrategy
  lib/shared/models/practice_session.dart
  lib/shared/models/practice_strategies/chords_by_type_strategy.dart
  test/shared/models/practice_strategies/chords_by_type_strategy_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: implement default chord progression handling in PracticeSession and ChordProgressionsStrategy
  lib/shared/models/practice_session.dart
  lib/shared/models/practice_strategies/chord_progressions_strategy.dart
  test/shared/models/practice_strategies/chord_progressions_strategy_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: update hand selection logic to return full triads for both hands in chord progression
  lib/shared/models/chord_progression_type.dart
  lib/shared/utils/chords.dart
  test/shared/models/chord_progression_test.dart
  test/shared/models/practice_strategies/chord_progressions_strategy_test.dart
  test/shared/models/practice_strategies/chords_by_key_strategy_test.dart
  test/shared/models/practice_strategies/chords_by_type_strategy_test.dart
  test/shared/utils/chords_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: simplify paired hand step creation in ArpeggiosStrategy
  lib/shared/models/practice_strategies/arpeggios_strategy.dart
Due: dart-fixes, dart-analyze

Path conditions:
  dart-fixes: any of: *.dart
  markdown-lint: any of: *.md
  test-selector-check: any of: test/**/*_test.dart
  dart-analyze: any of: *.dart
