Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

lefthook.yml:

# Lefthook configuration for Piano Fitness
# Git hooks for code quality and consistency

pre-commit:
  commands:
    # Step 1: Apply automatic fixes and format (only for Dart files)
    dart-fixes:
      glob: "*.dart"
      run: |
        echo "🔧 Applying automatic Dart fixes..."
        dart fix --apply
        echo "🎨 Formatting Dart code..."
        dart format {staged_files}
        echo "📋 Re-staging fixed files..."
        git add {staged_files}
      stage_fixed: true

    # Step 2: Fix and lint markdown files
    markdown-lint:
      glob: "*.md"
      run: |
        echo "📝 Fixing and linting markdown files..."
        markdownlint --fix {staged_files}
        echo "📋 Re-staging fixed markdown files..."
        git add {staged_files}
      stage_fixed: true

    # Step 3: Check for text-based selectors in test files
    test-selector-check:
      glob: "test/**/*_test.dart"
      run: ./scripts/check-test-selectors.sh {staged_files}
      fail_text: |
        ❌ Text-based selectors detected in test files.
        
        Replace find.text() calls used with tester.tap() with find.byKey() calls.
        This improves test robustness and supports internationalization.
        
        Examples:
        ❌ await tester.tap(find.text("Practice"));
        ✅ await tester.tap(find.byKey(const Key("nav_tab_practice")));
        
        See test/GUIDELINES.md for more information on key-based testing.

    # Step 4: Run analysis after fixes (only for Dart files)
    dart-analyze:
      glob: "*.dart"
      run: |
        echo "🔍 Analyzing Dart code..."
        flutter analyze --no-fatal-infos
      fail_text: |
        ❌ Flutter analyze found issues that cannot be auto-fixed.
        Please review and fix the remaining warnings/errors before committing.
        Run 'flutter analyze' to see details.

pre-push:
  commands:
    # Run full test suite before pushing
    test:
      run: flutter test
      fail_text: "Tests failed. Please fix them before pushing."

refactor(theme): update PracticePage to use semantic colors for improved styling
  lib/features/practice/practice_page.dart
Due: dart-fixes, dart-analyze

refactor(theme): add AppBar to PracticePage for improved navigation and styling
  lib/features/practice/practice_page.dart
Due: dart-fixes, dart-analyze

refactor(theme): simplify semantic colors access by using default light theme
  lib/main.dart
Due: dart-fixes, dart-analyze

refactor(practice_progress_display): improve visibility logic for practice session indicators
  lib/shared/widgets/practice_progress_display.dart
Due: dart-fixes, dart-analyze

refactor(repertoire_page): simplify color access by using colorScheme directly
  lib/features/repertoire/repertoire_page.dart
Due: dart-fixes, dart-analyze

refactor(practice_progress_display): add key to container for improved widget testing
  lib/shared/widgets/practice_progress_display.dart
  test/shared/widgets/practice_progress_display_theme_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor(device_controller): improve MIDI note handling with onTap events
  lib/features/device_controller/device_controller_page.dart
  lib/features/device_controller/device_controller_view_model.dart
Due: dart-fixes, dart-analyze

refactor(practice_progress_display): clamp progress indicator values to prevent division by zero
  lib/shared/widgets/practice_progress_display.dart
Due: dart-fixes, dart-analyze

refactor(play_page): simplify color access by using colorScheme variable
  lib/features/play/play_page.dart
Due: dart-fixes, dart-analyze

refactor(notifications_page): simplify color access by using semanticColors directly
  lib/features/notifications/notifications_page.dart
Due: dart-fixes, dart-analyze

refactor(midi_settings_page): enhance snackbar text color based on semantic colors
  lib/features/midi_settings/midi_settings_page.dart
Due: dart-fixes, dart-analyze

refactor: replace main.dart imports with semantic_colors in multiple files
  lib/features/device_controller/device_controller_page.dart
  lib/features/midi_settings/midi_settings_page.dart
  lib/features/notifications/notifications_page.dart
  lib/features/practice/practice_hub_page.dart
  lib/features/practice/practice_page.dart
  lib/main.dart
  lib/shared/theme/semantic_colors.dart
  lib/shared/widgets/midi_status_indicator.dart
Due: dart-fixes, dart-analyze

refactor(practice_settings_panel): add keys to practice settings panel components for improved widget testing
  lib/shared/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

refactor(practice_settings_panel): add static keys for main panel and status container to improve widget testing
  lib/shared/widgets/practice_settings_panel.dart
  test/shared/widgets/practice_settings_panel_theme_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor(device_controller_page): simplify piano key rendering logic and improve key identification utility functions
  lib/features/device_controller/device_controller_page.dart
  lib/shared/utils/piano_key_utils.dart
  test/features/device_controller/device_controller_page_test.dart
  test/shared/utils/piano_key_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: update simulator scripts for improved maintainability and add iOS runtime check
  Makefile
  scripts/check-ios-runtime.sh
  scripts/run-ipad-simulator.sh
  scripts/run-iphone-simulator.sh
  scripts/take-ipad-screenshot.sh
  scripts/take-iphone-screenshot.sh
Due: none

refactor: enhance simulator scripts with usage instructions and preferred simulator booting
  Makefile
  scripts/run-ipad-simulator.sh
  scripts/run-iphone-simulator.sh
Due: none

refactor: enhance iOS runtime management script with version parameter and usage instructions
  Makefile
  scripts/check-ios-runtime.sh
Due: none

refactor: enhance simulator launch scripts with detailed error messages and improved device ID extraction
  scripts/run-ipad-simulator.sh
  scripts/run-iphone-simulator.sh
Due: none

refactor: improve device ID extraction in simulator launch scripts for clarity and reliability
  scripts/run-ipad-simulator.sh
  scripts/run-iphone-simulator.sh
Due: none

refactor: streamline iPad screenshot script by improving device ID retrieval and booting process
  scripts/take-ipad-screenshot.sh
Due: none

chore: update changelog with improvements to development tooling and simulator management
  CHANGELOG.md
Due: markdown-lint

refactor: update devices target to include flutter check for improved reliability
  Makefile
Due: none

refactor: enhance iOS runtime check with improved pattern matching for version detection
  scripts/check-ios-runtime.sh
Due: none

chore: update changelog with new accessibility features and improvements
  CHANGELOG.md
Due: markdown-lint

docs: add CONTRIBUTING.md for development guidelines and setup
  CONTRIBUTING.md
  README.md
Due: markdown-lint

docs: update CONTRIBUTING.md to reflect new directory structure and testing organization
  CONTRIBUTING.md
Due: markdown-lint

Update license information and acknowledgments
  README.md
Due: markdown-lint

chore: update device_info_plus dependency to version 12.3.0
  pubspec.lock
  pubspec.yaml
Due: none

chore: register flutter_midi_command_linux plugin in generated files
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
Due: none

chore: update announcements to use sendAnnouncement for improved accessibility
  lib/shared/accessibility/services/musical_announcements_service.dart
Due: dart-fixes, dart-analyze

chore: update path_provider_foundation and shared_preferences_foundation dependencies in Podfile.lock
  macos/Podfile.lock
Due: none

chore: add listener for local MIDI state changes in PlayPageViewModel
  lib/features/play/play_page_view_model.dart
Due: dart-fixes, dart-analyze

chore: refactor announcement methods to use centralized _send helper for improved consistency and error handling
  lib/shared/accessibility/services/musical_announcements_service.dart
Due: dart-fixes, dart-analyze

chore: add guard for missing MediaQuery in _send method to prevent errors
  lib/shared/accessibility/services/musical_announcements_service.dart
Due: dart-fixes, dart-analyze

chore: update _send method to be asynchronous and handle announcement errors gracefully
  lib/shared/accessibility/services/musical_announcements_service.dart
Due: dart-fixes, dart-analyze

feat: implement hand selection feature for practice exercises
  lib/features/practice/practice_page.dart
  lib/features/practice/practice_page_view_model.dart
  lib/shared/models/chord_progression_type.dart
  lib/shared/models/hand_selection.dart
  lib/shared/models/practice_session.dart
  lib/shared/utils/arpeggios.dart
  lib/shared/utils/chords.dart
  lib/shared/utils/scales.dart
  lib/shared/widgets/practice_settings_panel.dart
  test/shared/widgets/practice_settings_panel_theme_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: enhance hand selection UI with improved icons and layout
  lib/shared/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

feat: add hand selection functionality and tests for practice settings
  lib/shared/widgets/practice_settings_panel.dart
  test/shared/models/chord_progression_test.dart
  test/shared/utils/arpeggios_test.dart
  test/shared/utils/chords_test.dart
  test/shared/utils/scales_test.dart
  test/shared/widgets/practice_settings_panel_test.dart
Due: dart-fixes, test-selector-check, dart-analyze
