Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, dart-analyze

dart-fixes:
  run: 'echo "🔧 Applying automatic Dart fixes..."
  
    dart fix --apply
  
    echo "🎨 Formatting Dart code..."
  
    dart format {staged_files}
  
    echo "📋 Re-staging fixed files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

markdown-lint:
  run: 'echo "📝 Fixing and linting markdown files..."
  
    markdownlint --fix {staged_files}
  
    echo "📋 Re-staging fixed markdown files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

dart-analyze:
  run: 'echo "🔍 Analyzing Dart code..."
  
    flutter analyze --no-fatal-infos
  
    '
  fail_text: '❌ Flutter analyze found issues that cannot be auto-fixed.
  
    Please review and fix the remaining warnings/errors before committing.
  
    Run ''flutter analyze'' to see details.
  
    '

refactor(main_navigation_test): enhance navigation tests with stable key usage and helper functions for improved readability and maintainability
  test/shared/widgets/main_navigation_test.dart
Due: dart-fixes, dart-analyze

refactor(test_guidelines): implement key-based navigation in tests and add script for checking text-based selectors
  CLAUDE.md
  lefthook.yml
  scripts/check-test-selectors.sh
  test/GUIDELINES.md
Due: markdown-lint

refactor(check-test-selectors): improve file handling and robustness in selector checking script
  scripts/check-test-selectors.sh
Due: none

chore(changelog): update to version 0.3.0 with new features, enhancements, fixes, and technical improvements
  CHANGELOG.md
Due: markdown-lint

refactor(app_store): update promotional text and descriptions to emphasize notifications and repertoire features
  docs/app_store.md
Due: markdown-lint

chore(pubspec): update version to 0.3.0
  pubspec.yaml
Due: none

chore(Podfile.lock): add device_info_plus dependency
  ios/Podfile.lock
Due: none

fix(release.md): update iOS build command and artifact location in release documentation
  docs/release.md
Due: markdown-lint

refactor(app_store): update promotional text and main description to highlight daily reminders and practice features
  docs/app_store.md
Due: markdown-lint

chore(changelog): update dependencies section to remove path_provider
  CHANGELOG.md
Due: markdown-lint

fix(release.md): update iOS build command to use simulator and change build command to ipa
  docs/release.md
Due: markdown-lint

fix(app_store.md): remove mention of proper voice leading in chord progressions
  docs/app_store.md
Due: markdown-lint

feat(accessibility): add comprehensive accessibility improvement plan for the app
  lib/features/ACCESSIBILITY_PLAN.md
Due: markdown-lint

feat(accessibility): implement comprehensive accessibility features for piano widgets
  ACCESSIBILITY_P0_IMPLEMENTATION.md
  lib/features/device_controller/device_controller_page.dart
  lib/features/midi_settings/midi_settings_page.dart
  lib/features/play/play_page.dart
  lib/features/practice/practice_page.dart
  lib/features/reference/reference_page.dart
  lib/shared/utils/piano_accessibility_utils.dart
Due: dart-fixes, markdown-lint, dart-analyze

feat(accessibility): Implement P0 accessibility improvements for Piano Fitness app
  ACCESSIBILITY_P0_IMPLEMENTATION.md
  docs/accessibility/README.md
  docs/accessibility/architecture.md
  docs/accessibility/p0-implementation-report.md
  lib/shared/accessibility/accessibility.dart
  lib/shared/accessibility/config/accessibility_labels.dart
  lib/shared/accessibility/mixins/accessibility_mixins.dart
  lib/shared/accessibility/services/midi_accessibility_service.dart
  lib/shared/accessibility/services/musical_announcements_service.dart
  lib/shared/accessibility/services/piano_semantics_service.dart
  lib/shared/accessibility/widgets/accessible_widgets.dart
Due: dart-fixes, markdown-lint, dart-analyze

feat(accessibility): enhance device information display for improved accessibility
  lib/features/device_controller/device_controller_page.dart
Due: dart-fixes, dart-analyze

feat(accessibility): update MIDI channel semantics for improved screen reader support
  lib/features/device_controller/device_controller_page.dart
Due: dart-fixes, dart-analyze

feat(accessibility): update MIDI channel semantics for improved screen reader support
  lib/features/midi_settings/midi_settings_page.dart
Due: dart-fixes, dart-analyze

feat(accessibility): enhance MIDI status semantics for improved screen reader support
  lib/features/midi_settings/midi_settings_page.dart
Due: dart-fixes, dart-analyze

feat(accessibility): improve MIDI status semantics for better screen reader support
  lib/features/midi_settings/midi_settings_page.dart
Due: dart-fixes, dart-analyze

feat(accessibility): update accessibility labels for device information display
  lib/features/play/play_page.dart
  test/features/device_controller/device_controller_page_test.dart
Due: dart-fixes, dart-analyze

feat(accessibility): update semantic label for practice mode piano keyboard
  lib/features/practice/practice_page.dart
Due: dart-fixes, dart-analyze

refactor(accessibility): remove outdated documentation from accessibility.dart
  lib/shared/accessibility/accessibility.dart
Due: dart-fixes, dart-analyze

refactor(practice): rename DEFAULT_START_OCTAVE to defaultStartOctave for consistency
  lib/shared/accessibility/config/accessibility_labels.dart
  lib/shared/models/practice_session.dart
Due: dart-fixes, dart-analyze

feat(accessibility): update musical announcements to include context for improved accessibility
  lib/shared/accessibility/mixins/accessibility_mixins.dart
  lib/shared/accessibility/services/musical_announcements_service.dart
Due: dart-fixes, dart-analyze

fix(accessibility): ensure newValue is a double in slider semantics
  lib/shared/accessibility/mixins/accessibility_mixins.dart
Due: dart-fixes, dart-analyze

refactor(accessibility): replace SemanticsService with MusicalAnnouncementsService for improved announcements
  lib/features/repertoire/widgets/repertoire_duration_selector.dart
  lib/features/repertoire/widgets/repertoire_timer_display.dart
  lib/shared/utils/piano_accessibility_utils.dart
Due: dart-fixes, dart-analyze

refactor(docs): remove constants naming convention from copilot instructions
  .github/copilot-instructions.md
Due: markdown-lint

refactor(accessibility): enhance piano keyboard descriptions and announcements using centralized accessibility labels
  lib/shared/utils/piano_accessibility_utils.dart
Due: dart-fixes, dart-analyze

refactor(accessibility): add mode parameter to createAccessiblePianoWrapper for context-aware labeling
  lib/features/play/play_page.dart
  lib/features/practice/practice_page.dart
  lib/features/reference/reference_page.dart
  lib/shared/utils/piano_accessibility_utils.dart
Due: dart-fixes, dart-analyze

Update .gitignore to exclude pubspec.lock and add generated pubspec.lock file
  .gitignore
  pubspec.lock
Due: none

refactor(theme): update practice progress display and settings panel to use theme colors
  lib/shared/widgets/practice_progress_display.dart
  lib/shared/widgets/practice_settings_panel.dart
  test/shared/widgets/practice_progress_display_theme_test.dart
  test/shared/widgets/practice_settings_panel_theme_test.dart
Due: dart-fixes, dart-analyze

feat(theme): add SemanticColors extension for consistent theming across the application
  lib/main.dart
Due: dart-fixes, dart-analyze

refactor(theme): update ReferencePage to use theme colors for improved consistency
  lib/features/reference/reference_page.dart
Due: dart-fixes, dart-analyze

refactor(theme): update MIDI settings and play page to use theme colors for improved consistency
  lib/features/midi_settings/midi_settings_page.dart
  lib/features/midi_settings/midi_settings_view_model.dart
  lib/features/play/play_page.dart
  lib/shared/widgets/main_navigation.dart
  lib/shared/widgets/midi_status_indicator.dart
Due: dart-fixes, dart-analyze

refactor(theme): update NotificationsPage to use theme colors for improved consistency
  lib/features/notifications/notifications_page.dart
Due: dart-fixes, dart-analyze

refactor(theme): update DeviceControllerPage to use theme colors for piano keys
  lib/features/device_controller/device_controller_page.dart
Due: dart-fixes, dart-analyze

refactor(theme): update PracticeHubPage to use theme colors for improved consistency
  lib/features/practice/practice_hub_page.dart
Due: dart-fixes, dart-analyze

refactor(theme): update PracticePage to use theme colors for improved consistency
  lib/features/practice/practice_page.dart
Due: dart-fixes, dart-analyze

refactor(theme): update RepertoirePage to use theme colors for app recommendations
  lib/features/repertoire/repertoire_page.dart
Due: dart-fixes, dart-analyze

Path conditions:
  dart-fixes: any of: *.dart
  markdown-lint: any of: *.md
  dart-analyze: any of: *.dart
