Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

lefthook.yml:

# Lefthook configuration for Piano Fitness
# Git hooks for code quality and consistency

pre-commit:
  commands:
    # Step 1: Apply automatic fixes and format (only for Dart files)
    dart-fixes:
      glob: "*.dart"
      run: |
        echo "🔧 Applying automatic Dart fixes..."
        dart fix --apply
        echo "🎨 Formatting Dart code..."
        dart format {staged_files}
        echo "📋 Re-staging fixed files..."
        git add {staged_files}
      stage_fixed: true

    # Step 2: Fix and lint markdown files
    markdown-lint:
      glob: "*.md"
      run: |
        echo "📝 Fixing and linting markdown files..."
        markdownlint --fix {staged_files}
        echo "📋 Re-staging fixed markdown files..."
        git add {staged_files}
      stage_fixed: true

    # Step 3: Check for text-based selectors in test files
    test-selector-check:
      glob: "test/**/*_test.dart"
      run: ./scripts/check-test-selectors.sh {staged_files}
      fail_text: |
        ❌ Text-based selectors detected in test files.
        
        Replace find.text() calls used with tester.tap() with find.byKey() calls.
        This improves test robustness and supports internationalization.
        
        Examples:
        ❌ await tester.tap(find.text("Practice"));
        ✅ await tester.tap(find.byKey(const Key("nav_tab_practice")));
        
        See test/GUIDELINES.md for more information on key-based testing.

    # Step 4: Run analysis after fixes (only for Dart files)
    dart-analyze:
      glob: "*.dart"
      run: |
        echo "🔍 Analyzing Dart code..."
        flutter analyze --no-fatal-infos
      fail_text: |
        ❌ Flutter analyze found issues that cannot be auto-fixed.
        Please review and fix the remaining warnings/errors before committing.
        Run 'flutter analyze' to see details.

pre-push:
  commands:
    # Run full test suite before pushing
    test:
      run: flutter test
      fail_text: "Tests failed. Please fix them before pushing."

feat: add ADR-0024 for adopting Drift as database persistence library
  docs/ADRs/0024-drift-database-persistence.md
Due: markdown-lint

feat: add dependencies for Drift and related packages in pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: none

docs: update ADR numbering and add ADR-0024 for Drift database persistence
  docs/ADRs/README.md
Due: markdown-lint

feat: add sqlite3_flutter_libs plugin support across platforms
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Due: none

feat: implement Drift database with initial schema and connection setup
  analysis_options.yaml
  lib/application/database/app_database.dart
  lib/application/database/app_database.g.dart
Due: dart-fixes, dart-analyze

feat: add AppDatabase provider for database management in main application
  lib/main.dart
Due: dart-fixes, dart-analyze

feat: add unit tests for AppDatabase using in-memory SQLite executor
  test/application/database/app_database_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: update quality assessment process in flutter-quality-auditor documentation
  .claude/agents/flutter-quality-auditor.md
Due: markdown-lint

fix: correct name casing for Flutter Quality Auditor in documentation
  .claude/agents/flutter-quality-auditor.md
Due: markdown-lint

docs: update Drift cross-platform support details in ADR-0024
  docs/ADRs/0024-drift-database-persistence.md
Due: markdown-lint

fix: refine analyzer configuration and update documentation for unused fields in Drift
  analysis_options.yaml
  lib/application/database/app_database.dart
  lib/application/database/app_database.g.dart
Due: dart-fixes, dart-analyze

feat: add build configuration for Drift database migrations and artifacts
  build.yaml
Due: none

feat: enhance documentation for Drift database migrations and schema management
  AGENTS.md
  CONTRIBUTING.md
  docs/ADRs/0024-drift-database-persistence.md
Due: markdown-lint

feat: add accessibility architecture documentation and custom keyboard range configuration
  docs/accessibility/README.md
  docs/accessibility/p0-implementation-report.md
  docs/specifications/accessibility.md
  docs/specifications/custom-keyboard-range.md
  docs/specifications/dynamic-piano-range.md
  docs/specifications/repertoire-feature.md
Due: markdown-lint

feat: add specifications documentation and template for feature/component specifications
  docs/specifications/README.md
  docs/specifications/_template.md
Due: markdown-lint

feat: remove authentication system specification document
  docs/specifications/authentication-system.md
Due: markdown-lint

feat: update metronome component specification and add practice sessions documentation
  docs/specifications/metronome-component.md
  docs/specifications/practice-sessions.md
  docs/specifications/practice-tools.md
Due: markdown-lint

feat: add accessibility section to specifications template and README
  docs/specifications/README.md
  docs/specifications/_template.md
Due: markdown-lint

fix: clarify references to ADRs and related specs in README
  docs/specifications/README.md
Due: markdown-lint

feat: add Documentation Steward agent for managing project documentation lifecycle
  .claude/agents/documentation-steward.md
Due: markdown-lint

feat: add critical timing requirements section to metronome component specification
  docs/specifications/metronome-component.md
Due: markdown-lint

feat: add VSCode configuration files for markdown linting and formatting
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: add user profile specification document
  docs/specifications/user-profile.md
Due: markdown-lint

feat: enhance documentation steward agent with guided interview approach for spec and ADR creation
  .claude/agents/documentation-steward.md
Due: markdown-lint

feat: add dependencies in pubspec.yaml for intl and uuid packages
  pubspec.lock
  pubspec.yaml
Due: none

feat(domain): add user profile domain models and repository interface
  lib/domain/models/profile_sort_order.dart
  lib/domain/models/user_profile.dart
  lib/domain/repositories/user_profile_repository.dart
Due: dart-fixes, dart-analyze

feat(database): add user profile table and migration from schema v1 to v2
  drift_schemas/app_database/drift_schema_v1.json
  drift_schemas/app_database/drift_schema_v2.json
  lib/application/database/app_database.dart
  lib/application/database/app_database.g.dart
  lib/application/database/app_database.steps.dart
  lib/application/database/daos/user_profile_dao.dart
  lib/application/database/daos/user_profile_dao.g.dart
  lib/application/database/tables/user_profile_table.dart
Due: dart-fixes, dart-analyze

feat(application): add user profile repository implementation
  lib/application/repositories/user_profile_repository_impl.dart
Due: dart-fixes, dart-analyze

feat(presentation): add user profile UI with MVVM pattern
  lib/features/user_profile/user_profile_page.dart
  lib/features/user_profile/user_profile_view_model.dart
  lib/features/user_profile/widgets/profile_create_dialog.dart
  lib/features/user_profile/widgets/profile_delete_confirmation_dialog.dart
  lib/features/user_profile/widgets/profile_edit_dialog.dart
  lib/features/user_profile/widgets/profile_list_item.dart
  lib/presentation/widgets/profile_initializer.dart
Due: dart-fixes, dart-analyze

feat(integration): integrate user profiles into app startup and navigation
  lib/main.dart
  lib/presentation/widgets/main_navigation.dart
Due: dart-fixes, dart-analyze

test: add comprehensive test coverage for user profiles feature
  test/application/database/app_database_test.dart
  test/application/repositories/user_profile_repository_impl_test.dart
  test/domain/models/user_profile_test.dart
  test/features/user_profile/user_profile_view_model_test.dart
  test/shared/test_helpers/mock_repositories.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
  test/shared/test_helpers/widget_test_helper.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: add Drift migration tests for schema v1 to v2
  test/app_database/generated/schema.dart
  test/app_database/generated/schema_v1.dart
  test/app_database/generated/schema_v2.dart
  test/app_database/migration_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(dependencies): update Podfile.lock to include sqlite3 and related libraries
  macos/Podfile.lock
Due: none

fix(navigation): resolve blank page issue after first profile creation
  lib/features/user_profile/user_profile_page.dart
  lib/presentation/widgets/profile_initializer.dart
Due: dart-fixes, dart-analyze

Add widget tests for user profile dialogs and list items
  lib/features/user_profile/user_profile_page.dart
  lib/features/user_profile/widgets/profile_create_dialog.dart
  lib/features/user_profile/widgets/profile_delete_confirmation_dialog.dart
  lib/features/user_profile/widgets/profile_edit_dialog.dart
  lib/features/user_profile/widgets/profile_list_item.dart
  test/application/database/daos/user_profile_dao_test.dart
  test/features/user_profile/user_profile_integration_test.dart
  test/features/user_profile/user_profile_page_test.dart
  test/features/user_profile/widgets/profile_create_dialog_test.dart
  test/features/user_profile/widgets/profile_delete_confirmation_dialog_test.dart
  test/features/user_profile/widgets/profile_edit_dialog_test.dart
  test/features/user_profile/widgets/profile_list_item_test.dart
  test/presentation/widgets/main_navigation_test.dart
  test/presentation/widgets/profile_initializer_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix(user profile): improve profile selection and update logic with safe lookups
  lib/features/user_profile/user_profile_view_model.dart
  lib/main.dart
  lib/presentation/widgets/main_navigation.dart
  test/app_database/migration_test.dart
  test/features/user_profile/user_profile_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(user profile): enhance error logging and validation utilities for user profiles
  lib/application/repositories/user_profile_repository_impl.dart
  lib/domain/models/user_profile.dart
  lib/features/user_profile/user_profile_view_model.dart
  lib/features/user_profile/utils/profile_validation.dart
  lib/features/user_profile/widgets/profile_create_dialog.dart
  lib/features/user_profile/widgets/profile_edit_dialog.dart
  lib/features/user_profile/widgets/profile_list_item.dart
  test/features/user_profile/user_profile_page_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(user profile): add mock implementation for setActiveProfileId in view model tests
  test/features/user_profile/user_profile_page_test.dart
  test/features/user_profile/user_profile_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor(user profile tests): simplify loading state handling and improve dialog behavior
  test/features/user_profile/user_profile_integration_test.dart
  test/features/user_profile/widgets/profile_create_dialog_test.dart
  test/features/user_profile/widgets/profile_edit_dialog_test.dart
  test/features/user_profile/widgets/profile_list_item_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(user profile): enhance profile retrieval and initialization logic
  lib/application/database/daos/user_profile_dao.dart
  lib/presentation/widgets/profile_initializer.dart
  test/application/database/daos/user_profile_dao_test.dart
  test/presentation/widgets/profile_initializer_test.dart
Due: dart-fixes, test-selector-check, dart-analyze
