Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

dart-fixes:
  run: 'echo "🔧 Applying automatic Dart fixes..."
  
    dart fix --apply
  
    echo "🎨 Formatting Dart code..."
  
    dart format {staged_files}
  
    echo "📋 Re-staging fixed files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

markdown-lint:
  run: 'echo "📝 Fixing and linting markdown files..."
  
    markdownlint --fix {staged_files}
  
    echo "📋 Re-staging fixed markdown files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

test-selector-check:
  run: ./scripts/check-test-selectors.sh {staged_files}
  fail_text: '❌ Text-based selectors detected in test files.
  
  
    Replace find.text() calls used with tester.tap() with find.byKey() calls.
  
    This improves test robustness and supports internationalization.
  
  
    Examples:
  
  ...

dart-analyze:
  run: 'echo "🔍 Analyzing Dart code..."
  
    flutter analyze --no-fatal-infos
  
    '
  fail_text: '❌ Flutter analyze found issues that cannot be auto-fixed.
  
    Please review and fix the remaining warnings/errors before committing.
  
    Run ''flutter analyze'' to see details.
  
    '

refactor: format code and filter MIDI real-time messages from logs
  lib/application/services/midi/midi_connection_service.dart
Due: dart-fixes, dart-analyze

refactor: apply consistent dart format styling to test and script files
  scripts/coverage_summary.dart
  test/application/state/practice_session_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add explicit label colors to PianoKeyColors theme, update keyboard rendering, and improve MIDI packet handling.
  lib/presentation/theme/piano_key_colors.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard_painter.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/application/services/midi/midi_connection_service_test.dart
  test/presentation/theme/piano_key_colors_test.dart
  test/presentation/widgets/practice_settings_panel_test.dart
  test/shared/midi_mocks.dart
Due: dart-fixes, test-selector-check, dart-analyze

chore: remove outdated accessibility and notification planning documents
  docs/plans/ACCESSIBILITY_PLAN.md
  docs/plans/NOTIFICATIONS_PLAN.md
Due: markdown-lint

chore: remove CocoaPods configuration and dependencies from macOS project
  macos/Flutter/Flutter-Debug.xcconfig
  macos/Flutter/Flutter-Release.xcconfig
  macos/Podfile
  macos/Podfile.lock
  macos/Runner.xcodeproj/project.pbxproj
Due: none

feat: implement reactive exercise history stream and add accuracy percentage field to UI
  lib/application/database/app_database.g.dart
  lib/application/database/daos/exercise_history_dao.dart
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/domain/repositories/exercise_history_repository.dart
  lib/presentation/features/history/history_page_view_model.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
  test/presentation/features/history/history_page_test.dart
  test/presentation/features/history/history_page_view_model_test.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: update commit validator documentation, normalize coverage paths, and improve test assertions for MIDI handling and notifications
  scripts/commit_validator.dart
  scripts/coverage_summary.dart
  test/application/services/notifications/notification_service_test.dart
  test/application/state/practice_runner_test.dart
  test/application/utils/midi_data_handler_test.dart
  test/presentation/features/notifications/notifications_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: standardize string quotes in notification scheduling tests
  test/presentation/features/notifications/notifications_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

Add skill progression specification document
  docs/specifications/exercise-tempo-calculation.md
  docs/specifications/skill-progression.md
Due: markdown-lint

feat: measure exercise tempo from midi onsets
  drift_schemas/app_database/drift_schema_v6.json
  lib/application/database/app_database.dart
  lib/application/database/app_database.g.dart
  lib/application/database/app_database.steps.dart
  lib/application/database/tables/exercise_history_table.dart
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/application/repositories/midi_repository_impl.dart
  lib/application/services/midi/midi_connection_service.dart
  lib/application/state/exercise_tempo_tracker.dart
  lib/application/state/practice_runner.dart
  lib/application/state/practice_session.dart
  lib/application/utils/midi_coordinator.dart
  lib/application/utils/midi_data_handler.dart
  lib/domain/models/midi/midi_event.dart
  lib/domain/models/midi/midi_input_packet.dart
  lib/domain/models/practice/exercise_completion_result.dart
  lib/domain/models/practice/exercise_history_entry.dart
  lib/domain/models/practice/exercise_tempo_result.dart
  lib/domain/repositories/midi_repository.dart
  lib/domain/services/midi/midi_service.dart
  lib/domain/services/practice/exercise_tempo_calculator.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  test/app_database/generated/schema.dart
  test/app_database/generated/schema_v6.dart
  test/application/database/app_database_test.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
  test/application/repositories/midi_repository_impl_test.dart
  test/application/services/midi/midi_connection_service_test.dart
  test/application/state/exercise_tempo_tracker_test.dart
  test/application/state/practice_runner_test.dart
  test/application/state/practice_session_test.dart
  test/application/utils/midi_data_handler_test.dart
  test/domain/services/practice/exercise_tempo_calculator_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
  test/shared/test_helpers/mock_repositories.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: enhance tempo measurement capabilities and testing for MIDI input
  lib/application/database/tables/exercise_history_table.dart
  test/application/state/practice_runner_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
  test/shared/test_helpers/mock_repositories.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: replace delay with untilCalled for exercise history entry saving
  test/presentation/features/practice/practice_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add practice step duration metadata
  docs/specifications/practice-step-duration.md
  drift_schemas/app_database/drift_schema_v7.json
  lib/application/database/app_database.dart
  lib/application/database/app_database.g.dart
  lib/application/database/app_database.steps.dart
  lib/application/database/tables/exercise_history_table.dart
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/application/state/exercise_tempo_tracker.dart
  lib/application/state/practice_runner.dart
  lib/domain/models/practice/exercise.dart
  lib/domain/models/practice/exercise_history_entry.dart
  lib/domain/models/practice/exercise_tempo_result.dart
  lib/domain/models/practice/practice_step_note_value.dart
  lib/domain/models/practice/strategies/chord_progressions_strategy.dart
  lib/domain/services/practice/exercise_tempo_calculator.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  test/app_database/generated/schema.dart
  test/app_database/generated/schema_v7.dart
  test/application/database/app_database_test.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
  test/application/state/exercise_tempo_tracker_test.dart
  test/application/state/practice_runner_test.dart
  test/domain/models/practice/exercise_test.dart
  test/domain/models/practice/strategies/chord_progressions_strategy_test.dart
  test/domain/services/practice/exercise_tempo_calculator_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

fix: update suggested repository path for practice step duration addendum
  docs/specifications/practice-step-duration.md
Due: markdown-lint

feat: add progress tracking technique tree
  docs/specifications/practice-step-duration.md
  lib/application/skill_progression/default_skill_catalogue.dart
  lib/domain/models/practice/exercise_tempo_result.dart
  lib/domain/models/practice/strategies/scales_strategy.dart
  lib/domain/models/skill_progression/skill_catalogue.dart
  lib/domain/models/skill_progression/skill_proficiency_snapshot.dart
  lib/domain/services/skill_progression/exercise_configuration_identity.dart
  lib/domain/services/skill_progression/skill_catalogue_validator.dart
  lib/domain/services/skill_progression/skill_history_matcher.dart
  lib/domain/services/skill_progression/skill_proficiency_evaluator.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/features/skill_progression/skill_tree_page.dart
  lib/presentation/features/skill_progression/skill_tree_page_view_model.dart
  lib/presentation/widgets/main_navigation.dart
  test/domain/models/practice/strategies/scales_strategy_test.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
  test/presentation/features/skill_progression/skill_tree_page_view_model_test.dart
  test/presentation/widgets/main_navigation_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

fix(skill-progression): harden proficiency evaluation
  lib/application/skill_progression/default_skill_catalogue.dart
  lib/domain/models/skill_progression/skill_catalogue.dart
  lib/domain/models/skill_progression/skill_proficiency_snapshot.dart
  lib/domain/services/skill_progression/exercise_configuration_identity.dart
  lib/domain/services/skill_progression/skill_catalogue_validator.dart
  lib/domain/services/skill_progression/skill_proficiency_evaluator.dart
  test/domain/models/practice/strategies/scales_strategy_test.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix(technique-tree): keep progress views current
  lib/presentation/features/skill_progression/skill_tree_page.dart
  lib/presentation/features/skill_progression/skill_tree_page_view_model.dart
  test/presentation/features/skill_progression/skill_tree_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

test(practice): cover initial configuration navigation
  lib/presentation/features/practice/practice_page_view_model.dart
  test/presentation/features/practice/practice_page_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add comprehensive curriculum for PianoFitness pedagogy
  docs/curriculum.md
Due: markdown-lint

refactor: restructure curriculum into draft format with clear exercise families
  docs/curriculum.md
Due: markdown-lint

refactor(skill-progression): generalize progression checkpoint builder
  lib/application/skill_progression/default_skill_catalogue.dart
Due: dart-fixes, dart-analyze

docs(skill-progression): add roadmap entries for pedagogy visibility
  docs/specifications/skill-progression.md
Due: markdown-lint

feat(skill-progression): add mode and progression catalogue nodes
  lib/application/skill_progression/default_skill_catalogue.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: rename Technique Tree to Curriculum for user-facing clarity
  docs/specifications/skill-progression.md
  lib/presentation/features/skill_progression/skill_tree_page.dart
  lib/presentation/widgets/main_navigation.dart
  test/presentation/features/practice/practice_page_test.dart
  test/presentation/widgets/main_navigation_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

fix: address PR review comments on curriculum and catalogue tests
  .markdownlint.json
  docs/curriculum.md
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

docs: add pedagogy.md teaching-philosophy document
  docs/pedagogy.md
Due: markdown-lint

docs: reorder curriculum.md foundations-first with priority labels
  docs/curriculum.md
Due: markdown-lint

docs(skill-progression): update curriculum.md structure reference
  docs/specifications/skill-progression.md
Due: markdown-lint

Reorganize curriculum scale hand options
  lib/application/skill_progression/default_skill_catalogue.dart
  lib/presentation/features/skill_progression/skill_tree_page.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
  test/presentation/features/skill_progression/skill_tree_page_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

Refine curriculum UX with Material 3
  README.md
  docs/design-guidelines.md
  docs/specifications/design-system.md
  docs/specifications/skill-progression.md
  lib/main.dart
  lib/presentation/constants/typography_constants.dart
  lib/presentation/features/skill_progression/skill_tree_page.dart
  lib/presentation/theme/app_theme.dart
  test/presentation/features/skill_progression/skill_tree_page_test.dart
  test/presentation/theme/app_theme_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Simplify app navigation and curriculum progress
  README.md
  docs/ADRs/0030-persistent-application-navigation-shell.md
  docs/ADRs/README.md
  docs/design-guidelines.md
  docs/ux-audit.md
  lib/domain/models/skill_progression/skill_proficiency_snapshot.dart
  lib/domain/services/skill_progression/skill_proficiency_evaluator.dart
  lib/presentation/features/device_controller/device_controller_page.dart
  lib/presentation/features/metronome/metronome_page.dart
  lib/presentation/features/metronome/widgets/metronome_quick_panel.dart
  lib/presentation/features/midi_settings/midi_settings_page.dart
  lib/presentation/features/notifications/notifications_page.dart
  lib/presentation/features/practice/practice_hub_page.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/skill_progression/skill_tree_page.dart
  lib/presentation/features/user_profile/user_profile_page.dart
  lib/presentation/widgets/main_navigation.dart
  lib/presentation/widgets/main_navigation_scope.dart
  lib/presentation/widgets/practice_settings/practice_settings_status_control.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
  test/presentation/features/reference/reference_integration_test.dart
  test/presentation/features/skill_progression/skill_tree_page_test.dart
  test/presentation/widgets/main_navigation_test.dart
  test/shared/test_helpers/widget_test_helper.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Streamline the app around curriculum practice
  docs/ADRs/0031-three-destination-product-navigation.md
  docs/ADRs/README.md
  docs/design-guidelines.md
  docs/ux-audit.md
  lib/presentation/features/device_controller/device_controller_page.dart
  lib/presentation/features/history/history_page.dart
  lib/presentation/features/history/history_page_view_model.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  lib/presentation/features/midi_settings/midi_settings_page.dart
  lib/presentation/features/notifications/notifications_page.dart
  lib/presentation/features/piano/piano_page.dart
  lib/presentation/features/play/play_page.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/skill_progression/skill_tree_page.dart
  lib/presentation/features/skill_progression/skill_tree_page_view_model.dart
  lib/presentation/widgets/main_navigation.dart
  test/GUIDELINES.md
  test/presentation/features/device_controller/device_controller_page_test.dart
  test/presentation/features/history/history_page_test.dart
  test/presentation/features/history/history_page_view_model_test.dart
  test/presentation/features/midi_settings/midi_settings_page_test.dart
  test/presentation/features/notifications/notifications_page_test.dart
  test/presentation/features/notifications/notifications_page_view_model_test.dart
  test/presentation/features/play/play_page_test.dart
  test/presentation/features/practice/practice_page_test.dart
  test/presentation/features/reference/reference_integration_test.dart
  test/presentation/features/skill_progression/skill_tree_page_test.dart
  test/presentation/features/skill_progression/skill_tree_page_view_model_test.dart
  test/presentation/widgets/main_navigation_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Redesign Piano as an interactive learning surface
  docs/ADRs/0031-three-destination-product-navigation.md
  docs/design-guidelines.md
  docs/ux-audit.md
  lib/presentation/features/piano/piano_page.dart
  lib/presentation/features/piano/reference_picker_sheet.dart
  lib/presentation/features/piano/widgets/twelve_tone_circle.dart
  lib/presentation/features/reference/reference_page_view_model.dart
  lib/presentation/features/reference/widgets/reference_config_row.dart
  lib/presentation/widgets/piano_keyboard/piano_keyboard.dart
  test/GUIDELINES.md
  test/presentation/features/reference/reference_integration_test.dart
  test/presentation/features/reference/reference_page_test.dart
  test/presentation/features/reference/reference_page_view_model_test.dart
  test/presentation/widgets/main_navigation_test.dart
  test/presentation/widgets/piano_keyboard/piano_keyboard_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Fix tempo history and show consistency feedback
  docs/ADRs/0032-runtime-tempo-consistency-feedback.md
  docs/ADRs/README.md
  docs/design-guidelines.md
  docs/specifications/exercise-tempo-calculation.md
  docs/specifications/skill-progression.md
  docs/ux-audit.md
  lib/application/repositories/exercise_history_repository_impl.dart
  lib/domain/models/practice/exercise_history_entry.dart
  lib/domain/models/practice/exercise_tempo_result.dart
  lib/domain/services/practice/exercise_tempo_calculator.dart
  lib/domain/services/practice/tempo_consistency_interpreter.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  test/application/repositories/exercise_history_repository_impl_test.dart
  test/application/state/exercise_tempo_tracker_test.dart
  test/domain/services/practice/exercise_tempo_calculator_test.dart
  test/domain/services/practice/tempo_consistency_interpreter_test.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
  test/presentation/features/history/history_page_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Address UX review findings
  docs/ADRs/0031-three-destination-product-navigation.md
  docs/ADRs/0032-runtime-tempo-consistency-feedback.md
  docs/specifications/exercise-tempo-calculation.md
  docs/specifications/skill-progression.md
  lib/application/repositories/user_profile_repository_impl.dart
  lib/domain/repositories/user_profile_repository.dart
  lib/domain/services/practice/tempo_consistency_interpreter.dart
  lib/domain/services/skill_progression/skill_history_matcher.dart
  lib/main.dart
  lib/presentation/features/device_controller/device_controller_page.dart
  lib/presentation/features/device_controller/widgets/device_controller_sections.dart
  lib/presentation/features/history/widgets/history_entry_card.dart
  lib/presentation/features/piano/piano_page.dart
  lib/presentation/features/practice/practice_hub_page.dart
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/widgets/focused_session_header.dart
  lib/presentation/features/skill_progression/skill_tree_page.dart
  lib/presentation/features/skill_progression/skill_tree_page_view_model.dart
  lib/presentation/widgets/main_navigation.dart
  lib/presentation/widgets/main_navigation_scope.dart
  test/GUIDELINES.md
  test/application/repositories/user_profile_repository_impl_test.dart
  test/domain/services/practice/tempo_consistency_interpreter_test.dart
  test/domain/services/skill_progression/skill_history_matcher_test.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
  test/presentation/features/history/history_page_test.dart
  test/presentation/features/midi_settings/midi_settings_page_test.dart
  test/presentation/features/notifications/notifications_page_test.dart
  test/presentation/features/reference/reference_integration_test.dart
  test/presentation/features/reference/reference_page_view_model_test.dart
  test/presentation/widgets/main_navigation_test.dart
  test/presentation/widgets/profile_initializer_test.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
  test/shared/test_helpers/widget_test_helper.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Add new skills for documentation stewardship, flutter quality auditing, and piano theory instruction
  .agents/skills/documentation-steward/SKILL.md
  .agents/skills/documentation-steward/agents/openai.yaml
  .agents/skills/flutter-quality-auditor/SKILL.md
  .agents/skills/flutter-quality-auditor/agents/openai.yaml
  .agents/skills/piano-theory-instructor/SKILL.md
  .agents/skills/piano-theory-instructor/agents/openai.yaml
Due: markdown-lint

Expand foundational chord curriculum
  docs/specifications/skill-progression.md
  lib/application/skill_progression/default_skill_catalogue.dart
  lib/domain/models/music/chord_progression_type.dart
  test/domain/models/music/chord_progression_test.dart
  test/domain/models/practice/strategies/chord_progressions_strategy_test.dart
  test/domain/models/practice/strategies/chords_by_key_strategy_test.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Voice foundational harmony by hand role
  lib/domain/models/practice/strategies/chord_accompaniment_voicing.dart
  lib/domain/models/practice/strategies/chord_progressions_strategy.dart
  lib/domain/models/practice/strategies/dominant_cadence_strategy.dart
  test/domain/models/practice/strategies/chord_progressions_strategy_test.dart
  test/domain/models/practice/strategies/dominant_cadence_strategy_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

Add foundational cadence practice
  docs/specifications/skill-progression.md
  lib/application/skill_progression/default_skill_catalogue.dart
  lib/domain/models/music/chord_progression_type.dart
  test/domain/models/music/chord_progression_test.dart
  test/domain/models/practice/strategies/chord_progressions_strategy_test.dart
  test/domain/services/skill_progression/skill_proficiency_evaluator_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

Enhance curriculum with detailed exercise-system fit and status labels for MIDI-assessable exercises
  docs/curriculum.md
Due: markdown-lint

Path conditions:
  dart-fixes: any of: *.dart
  markdown-lint: any of: *.md
  test-selector-check: any of: test/**/*_test.dart
  dart-analyze: any of: *.dart
