Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

dart-fixes:
  run: 'echo "🔧 Applying automatic Dart fixes..."
  
    dart fix --apply
  
    echo "🎨 Formatting Dart code..."
  
    dart format {staged_files}
  
    echo "📋 Re-staging fixed files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

markdown-lint:
  run: 'echo "📝 Fixing and linting markdown files..."
  
    markdownlint --fix {staged_files}
  
    echo "📋 Re-staging fixed markdown files..."
  
    git add {staged_files}
  
    '
  stage_fixed: true

test-selector-check:
  run: ./scripts/check-test-selectors.sh {staged_files}
  fail_text: '❌ Text-based selectors detected in test files.
  
  
    Replace find.text() calls used with tester.tap() with find.byKey() calls.
  
    This improves test robustness and supports internationalization.
  
  
    Examples:
  
  ...

dart-analyze:
  run: 'echo "🔍 Analyzing Dart code..."
  
    flutter analyze --no-fatal-infos
  
    '
  fail_text: '❌ Flutter analyze found issues that cannot be auto-fixed.
  
    Please review and fix the remaining warnings/errors before committing.
  
    Run ''flutter analyze'' to see details.
  
    '

feat(user profile): enhance error handling and validation in repository and view model
  lib/application/repositories/user_profile_repository_impl.dart
  lib/domain/models/user_profile.dart
  lib/features/user_profile/user_profile_view_model.dart
  lib/features/user_profile/widgets/profile_list_item.dart
  lib/presentation/widgets/profile_initializer.dart
  test/application/database/daos/user_profile_dao_test.dart
  test/features/user_profile/user_profile_page_test.dart
  test/features/user_profile/user_profile_view_model_test.dart
  test/features/user_profile/widgets/profile_create_dialog_test.dart
  test/features/user_profile/widgets/profile_delete_confirmation_dialog_test.dart
  test/features/user_profile/widgets/profile_edit_dialog_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(user profile): refactor user profile page and dialogs for improved state handling
  lib/features/user_profile/user_profile_page.dart
  lib/features/user_profile/utils/profile_dialogs.dart
  lib/features/user_profile/widgets/user_profile_empty_state.dart
  lib/features/user_profile/widgets/user_profile_error_state.dart
  lib/features/user_profile/widgets/user_profile_list.dart
  test/application/database/app_database_migration_test.dart
  test/features/user_profile/user_profile_integration_test.dart
  test/features/user_profile/widgets/profile_list_item_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(user profile): disable buttons during profile creation in dialog
  lib/features/user_profile/widgets/profile_create_dialog.dart
  test/features/user_profile/widgets/profile_create_dialog_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(user profile): disable save button during profile save in dialog
  lib/features/user_profile/widgets/profile_edit_dialog.dart
  test/features/user_profile/widgets/profile_edit_dialog_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(dependencies): add collection dependency
  pubspec.lock
  pubspec.yaml
Due: none

feat(user profile): refactor user profile components for improved state management and error handling
  lib/features/user_profile/user_profile_page.dart
  lib/features/user_profile/user_profile_view_model.dart
  lib/features/user_profile/widgets/user_profile_empty_state.dart
  lib/features/user_profile/widgets/user_profile_error_state.dart
  lib/presentation/widgets/profile_initializer.dart
  test/features/user_profile/user_profile_view_model_test.dart
  test/features/user_profile/widgets/profile_delete_confirmation_dialog_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(user profile): enhance profile edit dialog and empty state handling; add tests for profile deletion confirmation
  lib/features/user_profile/widgets/profile_edit_dialog.dart
  lib/features/user_profile/widgets/user_profile_empty_state.dart
  test/features/user_profile/user_profile_view_model_test.dart
  test/features/user_profile/widgets/profile_delete_confirmation_dialog_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(changelog): update changelog with recent additions, changes, and improvements
  CHANGELOG.md
Due: markdown-lint

chore(docs): remove outdated Firebase data models specification
  docs/specifications/firebase-data-models.md
Due: markdown-lint

spec: Add Exercise History and Unified Configuration Models
  docs/ADRs/0025-exercise-history-data-model.md
  docs/ADRs/0026-unified-exercise-configuration-model.md
  docs/ADRs/README.md
  docs/specifications/exercise-history.md
Due: markdown-lint

feat(exercise-history): update configuration field to required JSON string and enhance validation for exercise range
  docs/ADRs/0025-exercise-history-data-model.md
  docs/ADRs/0026-unified-exercise-configuration-model.md
  docs/specifications/exercise-history.md
Due: markdown-lint

feat(exercise-configuration): implement _Field wrapper for nullable fields in copyWith to prevent stale state
  docs/ADRs/0026-unified-exercise-configuration-model.md
Due: markdown-lint

feat(exercise-history): add index on profileId and completedAt for optimized querying
  docs/ADRs/0026-unified-exercise-configuration-model.md
  docs/specifications/exercise-history.md
Due: markdown-lint

fix(exercise-configuration): update octave bounds and error messages for C2-C6 range
  docs/ADRs/0026-unified-exercise-configuration-model.md
Due: markdown-lint

docs: update JSON serialization examples to omit default fields in exercise configuration
  docs/ADRs/0026-unified-exercise-configuration-model.md
Due: markdown-lint

Refactor exercise configuration tests and improve practice settings panel
  lib/application/state/practice_session.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/features/practice/practice_page.dart
  lib/features/practice/practice_page_view_model.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/application/state/practice_session_test.dart
  test/domain/models/practice/exercise_configuration_test.dart
  test/features/practice/practice_page_view_model_test.dart
  test/presentation/widgets/practice_settings_panel_test.dart
  test/presentation/widgets/practice_settings_panel_theme_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat(practice-settings): add auto-progress keys feature and related callbacks
  lib/features/practice/practice_page.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/presentation/widgets/practice_settings_panel_test.dart
  test/presentation/widgets/practice_settings_panel_theme_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix(dependencies): add meta package dependency to direct main
  pubspec.lock
  pubspec.yaml
Due: none

refactor: update imports and improve equality checks in practice models
  lib/domain/models/practice/exercise.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/domain/services/midi/midi_service.dart
  lib/domain/services/music_theory/chord_builder.dart
  lib/features/practice/practice_page.dart
  lib/presentation/constants/practice_constants.dart
  lib/presentation/widgets/practice_progress_display.dart
  lib/presentation/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

feat(architecture): implement Clean Architecture layer boundary checks and documentation
  AGENTS.md
  analysis_options.yaml
  lefthook.yml
  scripts/README.md
  scripts/check-layer-boundaries.sh
Due: markdown-lint

refactor: enhance hashCode implementations and improve error handling in chord builder
  AGENTS.md
  lib/domain/models/practice/exercise.dart
  lib/domain/services/music_theory/chord_builder.dart
  lib/presentation/widgets/practice_settings_panel.dart
  scripts/README.md
  scripts/check-layer-boundaries.sh
  test/domain/services/music_theory/chord_inversion_utils_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

refactor: improve layer boundary checks in scripts and enhance dropdown keys in practice settings panel
  AGENTS.md
  lib/presentation/widgets/practice_settings_panel.dart
  scripts/check-layer-boundaries.sh
Due: dart-fixes, markdown-lint, dart-analyze

refactor: unify practice settings panel by extracting mode-specific widgets
  lib/presentation/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

refactor: replace dropdown implementation with reusable _ScaleTypeDropdown widget
  lib/presentation/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

feat: add dominant cadence (V→I) practice mode with correct voice leading
  docs/specifications/dominant-target-practice.md
  lefthook.yml
  lib/application/state/practice_session.dart
  lib/application/utils/piano_note_bridge.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/domain/models/practice/practice_mode.dart
  lib/domain/models/practice/strategies/dominant_cadence_strategy.dart
  lib/domain/models/practice/strategies/practice_strategies.dart
  lib/domain/services/music_theory/note_utils.dart
  lib/features/play/play_page.dart
  lib/features/practice/practice_hub_page.dart
  lib/features/practice/practice_page.dart
  lib/features/reference/reference_page.dart
  lib/presentation/accessibility/services/piano_semantics_service.dart
  lib/presentation/utils/piano_accessibility_utils.dart
  lib/presentation/utils/piano_range_utils.dart
  lib/presentation/widgets/practice_progress_display.dart
  lib/presentation/widgets/practice_settings_panel.dart
  test/domain/models/practice/practice_mode_test.dart
  test/domain/models/practice/strategies/dominant_cadence_strategy_test.dart
  test/domain/services/music_theory/note_utils_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

docs: update CHANGELOG and app store listing for dominant cadence feature
  CHANGELOG.md
  docs/app_store.md
Due: markdown-lint

fix: resolve flutter binary in pre-push hook via dart SDK directory
  lefthook.yml
Due: none

fix: add run-flutter-tests.sh to locate Flutter SDK in hook environments
  lefthook.yml
  scripts/run-flutter-tests.sh
Due: none

debug: add diagnostic output to run-flutter-tests.sh
  scripts/run-flutter-tests.sh
Due: none

fix: use --no-pub in flutter test hook to avoid stale version cache
  scripts/run-flutter-tests.sh
Due: none

fix: address nitpick comments — docs, import order, stale comments, TODO
  lib/domain/models/practice/practice_mode.dart
  lib/presentation/utils/piano_accessibility_utils.dart
  lib/presentation/utils/piano_range_utils.dart
  test/domain/services/music_theory/note_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor(test): split PianoNoteBridge tests into their own application-layer file
  test/application/utils/piano_note_bridge_test.dart
  test/domain/services/music_theory/note_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

docs: remove prescriptive local import ordering rule from AGENTS.md
  AGENTS.md
Due: markdown-lint

docs: document Bridge/Adapter pattern in AGENTS.md
  AGENTS.md
Due: markdown-lint

docs(arch): reframe domain purity as infrastructure-free, not package-free
  AGENTS.md
  CONTRIBUTING.md
  scripts/check-layer-boundaries.sh
Due: markdown-lint

test(bridge): add out-of-range boundary and octave-crossing enharmonic tests
  test/application/utils/piano_note_bridge_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

docs(arch): clarify domain purity rationale and fix regex redundancy
  AGENTS.md
  CONTRIBUTING.md
  scripts/check-layer-boundaries.sh
Due: markdown-lint

lint
  docs/specifications/_template.md
Due: markdown-lint

docs(app_store): update promotional text and app description for version 0.5.0 release
  docs/app_store.md
Due: markdown-lint

docs(styleguide): add comprehensive writing style guide for app content
  docs/styleguide.md
Due: markdown-lint

Path conditions:
  dart-fixes: any of: *.dart
  markdown-lint: any of: *.md
  test-selector-check: any of: test/**/*_test.dart
  dart-analyze: any of: *.dart
