Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

lefthook.yml:

# Lefthook configuration for Piano Fitness
# Git hooks for code quality and consistency

pre-commit:
  commands:
    # Step 1: Apply automatic fixes and format (only for Dart files)
    dart-fixes:
      glob: "*.dart"
      run: |
        echo "🔧 Applying automatic Dart fixes..."
        dart fix --apply
        echo "🎨 Formatting Dart code..."
        dart format {staged_files}
        echo "📋 Re-staging fixed files..."
        git add {staged_files}
      stage_fixed: true

    # Step 2: Fix and lint markdown files
    markdown-lint:
      glob: "*.md"
      run: |
        echo "📝 Fixing and linting markdown files..."
        markdownlint --fix {staged_files}
        echo "📋 Re-staging fixed markdown files..."
        git add {staged_files}
      stage_fixed: true

    # Step 3: Check for text-based selectors in test files
    test-selector-check:
      glob: "test/**/*_test.dart"
      run: ./scripts/check-test-selectors.sh {staged_files}
      fail_text: |
        ❌ Text-based selectors detected in test files.
        
        Replace find.text() calls used with tester.tap() with find.byKey() calls.
        This improves test robustness and supports internationalization.
        
        Examples:
        ❌ await tester.tap(find.text("Practice"));
        ✅ await tester.tap(find.byKey(const Key("nav_tab_practice")));
        
        See test/GUIDELINES.md for more information on key-based testing.

    # Step 4: Run analysis after fixes (only for Dart files)
    dart-analyze:
      glob: "*.dart"
      run: |
        echo "🔍 Analyzing Dart code..."
        flutter analyze --no-fatal-infos
      fail_text: |
        ❌ Flutter analyze found issues that cannot be auto-fixed.
        Please review and fix the remaining warnings/errors before committing.
        Run 'flutter analyze' to see details.

pre-push:
  commands:
    # Run full test suite before pushing
    test:
      run: flutter test
      fail_text: "Tests failed. Please fix them before pushing."

feat: add keyToMusicalNote utility and tests for key conversion
  lib/shared/models/practice_session.dart
  lib/shared/utils/note_utils.dart
  test/shared/utils/note_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

chore: update changelog to include auto-progress feature through the circle of fifths
  CHANGELOG.md
Due: markdown-lint

Add comprehensive tests for notification and MIDI services
  AGENTS.md
  lib/application/services/midi/midi_connection_service.dart
  lib/application/services/notifications/notification_manager.dart
  lib/application/services/notifications/notification_service.dart
  lib/domain/services/midi/midi_service.dart
  lib/features/device_controller/device_controller_view_model.dart
  lib/features/midi_settings/midi_settings_view_model.dart
  lib/features/notifications/PLAN.md
  lib/features/notifications/notifications_page_view_model.dart
  lib/features/play/play_page_view_model.dart
  lib/features/practice/practice_page_view_model.dart
  lib/features/reference/reference_page_view_model.dart
  lib/features/repertoire/repertoire_page_view_model.dart
  lib/main.dart
  test/application/services/midi/midi_connection_service_test.dart
  test/application/services/notifications/notification_manager_test.dart
  test/application/services/notifications/notification_service_test.dart
  test/domain/services/midi/midi_service_test.dart
  test/features/play/play_page_view_model_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

fix: correct reference path for musical constants in documentation
  lib/features/reference/reference_constants.dart
Due: dart-fixes, dart-analyze

test: move test file to align with app structure
  test/presentation/utils/piano_key_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix: correct file name and update section numbering in AGENTS.md
  AGENTS.md
Due: markdown-lint

refactor: restructure timer display to use state and actions objects
  lib/features/repertoire/repertoire_page.dart
  lib/features/repertoire/widgets/repertoire_timer_display.dart
Due: dart-fixes, dart-analyze

refactor: update documentation to reflect new architecture and testing structure
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: markdown-lint

test: move tests
  test/application/utils/virtual_piano_utils_test.dart
  test/domain/models/music/chord_progression_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

Refactor import paths for midi_state.dart to application/state across the codebase
  lib/application/services/midi/midi_connection_service.dart
  lib/application/state/midi_state.dart
  lib/application/state/practice_session.dart
  lib/application/utils/virtual_piano_utils.dart
  lib/features/midi_settings/midi_settings_view_model.dart
  lib/features/play/play_page_view_model.dart
  lib/features/practice/practice_page_view_model.dart
  lib/features/reference/reference_page_view_model.dart
  test/application/services/midi/midi_connection_service_test.dart
  test/application/state/midi_state_test.dart
  test/application/state/practice_session_test.dart
  test/application/utils/virtual_piano_utils_test.dart
  test/features/midi_settings/midi_settings_page_test.dart
  test/features/midi_settings/midi_settings_view_model_test.dart
  test/features/play/play_page_test.dart
  test/features/play/play_page_view_model_test.dart
  test/features/practice/practice_hub_page_test.dart
  test/features/reference/reference_integration_test.dart
  test/features/reference/reference_page_test.dart
  test/widget_integration_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

test: add MIDI note generation tests for various scales and hand selections
  test/domain/models/practice/strategies/scales_strategy_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: modularize PracticeHubPage by extracting widget methods for welcome section, practice modes, and quick start
  lib/features/practice/practice_hub_page.dart
Due: dart-fixes, dart-analyze

refactor: rename test group from "ChordDefinitions" to "ChordBuilder" for clarity
  test/domain/services/music_theory/chords_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: remove CLAUDE.md file as it is no longer needed
  CLAUDE.md
Due: markdown-lint

refactor: reorganize project structure into domain, application, and presentation layers for improved clarity
  AGENTS.md
Due: markdown-lint

refactor: remove obsolete MidiState and PracticeSession test files
  test/presentation/state/midi_state_test.dart
  test/presentation/state/practice_session_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: add mockito
  pubspec.lock
  pubspec.yaml
Due: none

refactor: use dependency injection for more modular codebase
  lib/application/repositories/audio_service_impl.dart
  lib/application/repositories/midi_repository_impl.dart
  lib/application/repositories/notification_repository_impl.dart
  lib/application/repositories/settings_repository_impl.dart
  lib/domain/repositories/audio_service.dart
  lib/domain/repositories/midi_repository.dart
  lib/domain/repositories/notification_repository.dart
  lib/domain/repositories/settings_repository.dart
  lib/features/device_controller/device_controller_page.dart
  lib/features/device_controller/device_controller_view_model.dart
  lib/features/midi_settings/midi_settings_page.dart
  lib/features/midi_settings/midi_settings_view_model.dart
  lib/features/notifications/notifications_page.dart
  lib/features/notifications/notifications_page_view_model.dart
  lib/features/play/play_page.dart
  lib/features/play/play_page_view_model.dart
  lib/features/practice/practice_page.dart
  lib/features/practice/practice_page_view_model.dart
  lib/features/reference/reference_page.dart
  lib/features/reference/reference_page_view_model.dart
  lib/features/repertoire/repertoire_page.dart
  lib/features/repertoire/repertoire_page_view_model.dart
  lib/main.dart
  test/features/device_controller/device_controller_page_test.dart
  test/features/device_controller/device_controller_view_model_test.dart
  test/features/midi_settings/midi_settings_view_model_test.dart
  test/features/notifications/notifications_page_view_model_test.dart
  test/features/play/play_page_test.dart
  test/features/play/play_page_view_model_test.dart
  test/features/practice/practice_page_test.dart
  test/features/practice/practice_page_view_model_test.dart
  test/features/reference/reference_integration_test.dart
  test/features/reference/reference_page_test.dart
  test/features/reference/reference_page_view_model_test.dart
  test/features/repertoire/repertoire_page_view_model_test.dart
  test/presentation/widgets/main_navigation_test.dart
  test/shared/test_helpers/mock_repositories.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
  test/shared/test_helpers/widget_test_helper.dart
Due: dart-fixes, test-selector-check, dart-analyze

feat: Add multiple ADRs for architectural decisions and strategies
  AGENTS.md
  CONTRIBUTING.md
  docs/ADRs/0001-clean-architecture-three-layers.md
  docs/ADRs/0002-mvvm-presentation-pattern.md
  docs/ADRs/0003-provider-dependency-injection.md
  docs/ADRs/0004-repository-pattern-external-dependencies.md
  docs/ADRs/0005-midi-connection-service-singleton.md
  docs/ADRs/0006-global-midi-state.md
  docs/ADRs/0007-factory-pattern-audio-service.md
  docs/ADRs/0008-notification-service-initialization.md
  docs/ADRs/0009-repository-level-test-mocking.md
  docs/ADRs/0010-shared-test-helper-infrastructure.md
  docs/ADRs/0011-test-coverage-requirements.md
  docs/ADRs/0012-test-organization-mirrors-source.md
  docs/ADRs/0013-music-theory-domain-services.md
  docs/ADRs/0014-piano-keyboard-layout-strategy.md
  docs/ADRs/0015-midi-message-processing.md
  docs/ADRs/0016-accessibility-modular-architecture.md
  docs/ADRs/0017-notification-scheduling-strategy.md
  docs/ADRs/0018-audio-playback-factory-pattern.md
  docs/ADRs/0019-cli-only-package-management.md
  docs/ADRs/0020-lefthook-automated-quality-controls.md
  docs/ADRs/0021-structured-logging-strategy.md
  docs/ADRs/0022-platform-support-strategy.md
  docs/ADRs/0023-import-organization-conventions.md
  docs/ADRs/README.md
  docs/ADRs/template.md
Due: markdown-lint

docs: Update documentation to include dependency injection patterns and testing guidelines
  .github/copilot-instructions.md
  AGENTS.md
  CONTRIBUTING.md
Due: markdown-lint

refactor: add dispose method to IMidiRepository and implement in MidiRepositoryImpl
  lib/application/repositories/midi_repository_impl.dart
  lib/domain/repositories/midi_repository.dart
  lib/main.dart
Due: dart-fixes, dart-analyze

refactor: update NotificationRepositoryImpl for async initialization and remove unused id parameter
  lib/application/repositories/notification_repository_impl.dart
  lib/domain/repositories/notification_repository.dart
  lib/features/notifications/notifications_page_view_model.dart
  lib/main.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, dart-analyze

refactor: add dailyReminderNotificationId getter to INotificationRepository and implement in NotificationRepositoryImpl
  lib/application/repositories/notification_repository_impl.dart
  lib/domain/repositories/notification_repository.dart
  lib/features/notifications/notifications_page_view_model.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, dart-analyze

refactor: update audio service to use AudioPlayerHandle and improve dependency injection
  lib/application/repositories/audio_service_impl.dart
  lib/domain/repositories/audio_service.dart
  lib/features/repertoire/repertoire_page_view_model.dart
  test/features/repertoire/repertoire_page_view_model_test.dart
  test/shared/test_helpers/mock_repositories.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
  test/shared/test_helpers/widget_test_helper.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: introduce NotificationSettingsData model and update related repositories for improved notification settings handling
  lib/application/converters/notification_settings_converter.dart
  lib/application/repositories/settings_repository_impl.dart
  lib/domain/models/notification_settings_data.dart
  lib/domain/repositories/settings_repository.dart
  lib/features/notifications/notifications_page_view_model.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, dart-analyze

refactor: update ISettingsRepository provider to use eager initialization
  lib/main.dart
Due: dart-fixes, dart-analyze

refactor: update MidiState initialization in widget test helpers for improved disposal management
  test/shared/test_helpers/widget_test_helper.dart
Due: dart-fixes, dart-analyze

refactor: streamline practice session initialization in PracticePage and _PracticePageView
  lib/features/practice/practice_page.dart
Due: dart-fixes, dart-analyze

refactor: add listener to MidiState in PracticePageViewModel for improved state management
  lib/features/practice/practice_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: ensure safe iteration over MIDI data handlers in MockMidiRepositoryHelper
  test/shared/test_helpers/mock_repositories.dart
Due: dart-fixes, dart-analyze

refactor: enhance error handling in getScheduledNotifications for safer parsing
  lib/application/repositories/settings_repository_impl.dart
Due: dart-fixes, dart-analyze

refactor: make PendingNotification constructor constant for improved performance
  lib/domain/repositories/notification_repository.dart
Due: dart-fixes, dart-analyze

refactor: make ScheduledNotificationData constructor constant and implement equality checks
  lib/domain/repositories/settings_repository.dart
  lib/features/midi_settings/midi_settings_view_model.dart
Due: dart-fixes, dart-analyze

refactor: move viewModel and midiState disposal to tearDown for better resource management
  test/features/device_controller/device_controller_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: centralize MIDI data processing in IMidiRepository for improved maintainability
  lib/application/repositories/midi_repository_impl.dart
  lib/domain/repositories/midi_repository.dart
  lib/features/device_controller/device_controller_view_model.dart
  lib/features/play/play_page_view_model.dart
  lib/features/reference/reference_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: initialize MidiCommand in MidiRepositoryImpl for improved efficiency
  lib/application/repositories/midi_repository_impl.dart
Due: dart-fixes, dart-analyze

refactor: add error handling for playing virtual notes in PlayPageView
  lib/features/play/play_page.dart
Due: dart-fixes, dart-analyze
