Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, dart-analyze

lefthook.yml:

# Lefthook configuration for Piano Fitness
# Git hooks for code quality and consistency

pre-commit:
  commands:
    # Step 1: Apply automatic fixes and format (only for Dart files)
    dart-fixes:
      glob: "*.dart"
      run: |
        echo "🔧 Applying automatic Dart fixes..."
        dart fix --apply
        echo "🎨 Formatting Dart code..."
        dart format {staged_files}
        echo "📋 Re-staging fixed files..."
        git add {staged_files}
      stage_fixed: true

    # Step 2: Fix and lint markdown files
    markdown-lint:
      glob: "*.md"
      run: |
        echo "📝 Fixing and linting markdown files..."
        markdownlint --fix {staged_files}
        echo "📋 Re-staging fixed markdown files..."
        git add {staged_files}
      stage_fixed: true

    # Step 3: Run analysis after fixes (only for Dart files)
    dart-analyze:
      glob: "*.dart"
      run: |
        echo "🔍 Analyzing Dart code..."
        flutter analyze --no-fatal-infos
      fail_text: |
        ❌ Flutter analyze found issues that cannot be auto-fixed.
        Please review and fix the remaining warnings/errors before committing.
        Run 'flutter analyze' to see details.

pre-push:
  commands:
    # Run full test suite before pushing
    test:
      run: flutter test
      fail_text: "Tests failed. Please fix them before pushing."

commit-msg:
  commands:
    # Ensure commit messages follow conventional commits format
    conventional:
      run: dart scripts/validate_commit_msg.dart {1}

feat(practice): enable auto-start on MIDI input and remove start button
  lib/features/practice/practice_page.dart
  lib/features/practice/practice_page_view_model.dart
  lib/shared/models/practice_session.dart
  lib/shared/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

feat(practice): replace Snackbar with custom overlay for exercise completion message
  lib/features/practice/practice_page.dart
Due: dart-fixes, dart-analyze

refactor(practice): remove deprecated start practice method and related callback
  lib/features/practice/practice_page.dart
  lib/shared/models/practice_session.dart
  lib/shared/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

feat(practice): enhance accessibility with semantic labels for practice status
  lib/shared/widgets/practice_settings_panel.dart
Due: dart-fixes, dart-analyze

refactor(practice): remove redundant notifyListeners calls after starting practice
  lib/features/practice/practice_page_view_model.dart
Due: dart-fixes, dart-analyze

feat(docs): update App Store listing to highlight auto-start practice and complete reference system
  CHANGELOG.md
  docs/app_store.md
Due: markdown-lint

fix(pubspec): update app description and version number
  pubspec.yaml
Due: none

feat(docs): add comprehensive release guide for Piano Fitness app
  docs/release.md
Due: markdown-lint

fix(changelog): update unreleased section and correct reference display formatting
  CHANGELOG.md
Due: markdown-lint

fix(release): clarify artifact upload instructions for iOS and macOS
  docs/release.md
Due: markdown-lint

fix(pubspec): remove build number from versioning in pubspec.yaml
  pubspec.yaml
Due: none

fix(docs): format promotional text and descriptions in app_store.md for clarity
  docs/app_store.md
Due: markdown-lint

feat(makefile): add development Makefile for building, testing, and releasing workflows
  .gitignore
  Makefile
Due: none

fix(docs): correct capitalization in main description of app_store.md
  docs/app_store.md
Due: markdown-lint

feat(makefile): enhance simulator management and streamline build commands
  Makefile
Due: none

fix(docs): refine app_store.md by removing outdated MIDI integration details
  docs/app_store.md
Due: markdown-lint

feat(makefile): enhance screenshot commands for iPhone and iPad by ensuring simulator is booted before capturing
  Makefile
Due: none

fix(commit-validator): increase maximum description length to 120 characters
  lib/scripts/commit_validator.dart
Due: dart-fixes, dart-analyze

fix(makefile): add xcode check to simulator management commands
  Makefile
Due: none

fix(commit-validator): update max description length to 120 characters and improve regex handling
  lib/scripts/commit_validator.dart
Due: dart-fixes, dart-analyze

feat(repertoire): add Repertoire feature specification with user flow and development phases
  docs/planning/repertoire-feature-specification.md
Due: markdown-lint

feat: add url_launcher plugin support for iOS, macOS, and Windows
  ios/Podfile.lock
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  macos/Podfile.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Due: none

feat(repertoire): add Repertoire page and ViewModel for managing practice guidance
  lib/features/repertoire/repertoire_page.dart
  lib/features/repertoire/repertoire_page_view_model.dart
  lib/shared/widgets/main_navigation.dart
Due: dart-fixes, dart-analyze

feat(attribution): add attribution for audio assets and include audio file in project
  assets/attribution.md
  assets/audio/218851__kellyconidi__highbell.mp3
  pubspec.yaml
Due: markdown-lint

feat: add audioplayers and path_provider support across platforms
  ios/Podfile.lock
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  macos/Podfile.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Due: none

feat(repertoire): implement practice timer functionality with audio feedback
  lib/features/repertoire/repertoire_page.dart
  lib/features/repertoire/repertoire_page_view_model.dart
Due: dart-fixes, dart-analyze

feat(repertoire): enhance Repertoire page layout with responsive design and compact sections
  lib/features/repertoire/repertoire_page.dart
Due: dart-fixes, dart-analyze

feat(repertoire): enhance Repertoire page with improved UI elements and responsive design for timer and duration selection
  lib/features/repertoire/repertoire_page.dart
Due: dart-fixes, dart-analyze

feat: Add responsive repertoire duration selector and timer display
  lib/features/repertoire/repertoire_page.dart
  lib/shared/widgets/repertoire_duration_selector.dart
  lib/shared/widgets/repertoire_responsive_layout.dart
  lib/shared/widgets/repertoire_timer_display.dart
Due: dart-fixes, dart-analyze

feat(repertoire): add instruction text for switching to repertoire app during practice
  lib/features/repertoire/repertoire_page.dart
Due: dart-fixes, dart-analyze

feat(repertoire): improve modal responsiveness and update practice routine description
  lib/features/repertoire/repertoire_page.dart
Due: dart-fixes, dart-analyze

feat(reference): improve reference page navigation tests and enhance UI checks
  test/features/reference/reference_integration_test.dart
Due: dart-fixes, dart-analyze

feat: add comprehensive design guidelines for Piano Fitness application
  docs/design-guidelines.md
Due: markdown-lint

feat(repertoire): enhance repertoire page with semantic widgets and responsive layout components
  lib/features/repertoire/repertoire_page.dart
  lib/features/repertoire/widgets/repertoire_duration_selector.dart
  lib/features/repertoire/widgets/repertoire_responsive_layout.dart
  lib/features/repertoire/widgets/repertoire_timer_display.dart
Due: dart-fixes, dart-analyze

fix(attribution): update license information for High Bell audio asset
  assets/attribution.md
Due: markdown-lint

test(reference): enhance navigation tests by adding state checks before taps
  test/features/reference/reference_integration_test.dart
Due: dart-fixes, dart-analyze

fix(semantics): update text direction for announcements to use context directionality
  lib/features/repertoire/widgets/repertoire_duration_selector.dart
  lib/features/repertoire/widgets/repertoire_timer_display.dart
Due: dart-fixes, dart-analyze

feat(theme): add dark theme support with color scheme for the application
  lib/features/repertoire/repertoire_page.dart
  lib/features/repertoire/widgets/repertoire_duration_selector.dart
  lib/features/repertoire/widgets/repertoire_timer_display.dart
  lib/main.dart
Due: dart-fixes, dart-analyze

fix(pubspec): update SDK constraints and remove publish restriction for clarity
  pubspec.yaml
Due: none

fix(design-guidelines): correct amber color code and update touch target accessibility standards
  docs/design-guidelines.md
Due: markdown-lint
