Repository PianoFitness/app: changes, and which lefthook commands are due for each by the changed paths.
All: dart-fixes, markdown-lint, test-selector-check, dart-analyze

lefthook.yml:

# Lefthook configuration for Piano Fitness
# Git hooks for code quality and consistency

pre-commit:
  commands:
    # Step 1: Apply automatic fixes and format (only for Dart files)
    dart-fixes:
      glob: "*.dart"
      run: |
        echo "🔧 Applying automatic Dart fixes..."
        dart fix --apply
        echo "🎨 Formatting Dart code..."
        dart format {staged_files}
        echo "📋 Re-staging fixed files..."
        git add {staged_files}
      stage_fixed: true

    # Step 2: Fix and lint markdown files
    markdown-lint:
      glob: "*.md"
      run: |
        echo "📝 Fixing and linting markdown files..."
        markdownlint --fix {staged_files}
        echo "📋 Re-staging fixed markdown files..."
        git add {staged_files}
      stage_fixed: true

    # Step 3: Check for text-based selectors in test files
    test-selector-check:
      glob: "test/**/*_test.dart"
      run: ./scripts/check-test-selectors.sh {staged_files}
      fail_text: |
        ❌ Text-based selectors detected in test files.
        
        Replace find.text() calls used with tester.tap() with find.byKey() calls.
        This improves test robustness and supports internationalization.
        
        Examples:
        ❌ await tester.tap(find.text("Practice"));
        ✅ await tester.tap(find.byKey(const Key("nav_tab_practice")));
        
        See test/GUIDELINES.md for more information on key-based testing.

    # Step 4: Run analysis after fixes (only for Dart files)
    dart-analyze:
      glob: "*.dart"
      run: |
        echo "🔍 Analyzing Dart code..."
        flutter analyze --no-fatal-infos
      fail_text: |
        ❌ Flutter analyze found issues that cannot be auto-fixed.
        Please review and fix the remaining warnings/errors before committing.
        Run 'flutter analyze' to see details.

pre-push:
  commands:
    # Run full test suite before pushing
    test:
      run: flutter test
      fail_text: "Tests failed. Please fix them before pushing."

docs(agents): update key dependencies to remove version constraints
  AGENTS.md
Due: markdown-lint

docs(changelog): add sections for Changed and Improved in preparation for version 0.5.0
  CHANGELOG.md
Due: markdown-lint

chore(pubspec): update version to 0.5.0
  pubspec.yaml
Due: none

docs(changelog): update release links and remove outdated version comparisons
  CHANGELOG.md
Due: markdown-lint

docs(app_store): correct formatting of last updated date
  docs/app_store.md
Due: markdown-lint

docs(changelog): fix header formatting for version 0.5.0
  CHANGELOG.md
Due: markdown-lint

feat(ios): update AppDelegate for implicit engine support and modify Info.plist for scene configuration
  ios/Flutter/AppFrameworkInfo.plist
  ios/Podfile.lock
  ios/Runner/AppDelegate.swift
  ios/Runner/Info.plist
Due: none

fix: improve voice leading for V7→Imaj7 progressions in dominant cadence practice
  CHANGELOG.md
  lib/domain/models/practice/strategies/dominant_cadence_strategy.dart
  lib/domain/services/music_theory/voice_leading_utils.dart
  test/domain/models/practice/strategies/dominant_cadence_strategy_test.dart
  test/domain/services/music_theory/voice_leading_utils_test.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

fix: correct formatting of V to I cadence notation in promotional text and app description
  docs/app_store.md
Due: markdown-lint

refactor: Replace List<int> with type-safe MidiNote value object
  lib/domain/models/music/chord_progression_type.dart
  lib/domain/models/music/midi_note.dart
  lib/domain/models/practice/strategies/chord_progressions_strategy.dart
  lib/domain/models/practice/strategies/chords_by_key_strategy.dart
  lib/domain/models/practice/strategies/chords_by_type_strategy.dart
  lib/domain/models/practice/strategies/dominant_cadence_strategy.dart
  lib/domain/services/music_theory/chord_builder.dart
  lib/domain/services/music_theory/chord_by_type.dart
  lib/domain/services/music_theory/chord_definitions.dart
  lib/domain/services/music_theory/chord_inversion_utils.dart
  lib/domain/services/music_theory/voice_leading_utils.dart
  test/domain/models/music/chord_progression_test.dart
  test/domain/models/music/midi_note_test.dart
  test/domain/services/music_theory/chord_inversion_flow_test.dart
  test/domain/services/music_theory/chord_inversion_utils_test.dart
  test/domain/services/music_theory/chords_test.dart
  test/domain/services/music_theory/voice_leading_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix: Voice leading algorithm now prioritizes common tone preservation
  lib/domain/services/music_theory/voice_leading_utils.dart
  test/domain/services/music_theory/voice_leading_utils_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix: update changelog with voice leading algorithm improvements and type safety enhancements for MIDI notes
  CHANGELOG.md
Due: markdown-lint

fix: update promotional text to use consistent notation for V to I cadence
  docs/app_store.md
Due: markdown-lint

fix: improve MIDI note validation and update tests for error handling
  lib/domain/models/music/midi_note.dart
  lib/domain/services/music_theory/voice_leading_utils.dart
  test/domain/models/music/midi_note_test.dart
  test/domain/models/practice/strategies/dominant_cadence_strategy_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

fix: clarify comment regarding common tone violations in voice leading validation
  lib/domain/services/music_theory/voice_leading_utils.dart
Due: dart-fixes, dart-analyze

docs: add ADR-0027 for features-to-presentation migration
  docs/ADRs/0027-migrate-features-to-presentation-layer.md
Due: markdown-lint

docs: update ADR-0001 and index to reflect consolidated presentation layer
  docs/ADRs/0001-clean-architecture-three-layers.md
  docs/ADRs/README.md
Due: markdown-lint

docs: update CONTRIBUTING.md and AGENTS.md for new directory structure
  AGENTS.md
  CONTRIBUTING.md
Due: markdown-lint

refactor: Fix code review issues - resource cleanup and import paths
  lib/presentation/features/notifications/widgets/notification_permission_dialog.dart
  lib/presentation/features/user_profile/user_profile_page.dart
  lib/presentation/features/user_profile/widgets/profile_edit_dialog.dart
  lib/presentation/features/user_profile/widgets/profile_list_item.dart
  lib/presentation/features/user_profile/widgets/user_profile_list.dart
  lib/presentation/widgets/profile_initializer.dart
  test/presentation/features/notifications/widgets/notification_permission_dialog_test.dart
  test/presentation/features/play/play_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: Convert remaining relative imports to package imports in user_profile_list
  lib/presentation/features/user_profile/widgets/user_profile_list.dart
Due: dart-fixes, dart-analyze

refactor: remove presentation layer dependency from RepertoirePageViewModel
  lib/presentation/features/repertoire/repertoire_constants.dart
  lib/presentation/features/repertoire/repertoire_page_view_model.dart
Due: dart-fixes, dart-analyze

refactor: convert DeviceControllerPage to standard StatelessWidget MVVM pattern
  lib/presentation/features/device_controller/device_controller_page.dart
Due: dart-fixes, dart-analyze

fix: replace magic numbers and hardcoded breakpoints with shared constants
  lib/presentation/features/notifications/notifications_page.dart
  lib/presentation/features/play/play_constants.dart
Due: dart-fixes, dart-analyze

refactor: enforce MIDI note range at domain boundary via MidiNote value object
  lib/application/repositories/midi_repository_impl.dart
  lib/domain/models/midi_note.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  test/domain/models/midi_note_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: centralize MIDI dispatch and error handling in MidiDataHandler
  lib/application/utils/midi_data_handler.dart
  lib/presentation/features/device_controller/device_controller_view_model.dart
  lib/presentation/features/play/play_page_view_model.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/features/reference/reference_page_view_model.dart
  test/application/utils/midi_data_handler_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: extract MidiEvent and arpeggio enums into domain model files
  lib/domain/models/midi/midi_event.dart
  lib/domain/models/music/arpeggio_type.dart
  lib/domain/services/midi/midi_service.dart
  lib/domain/services/music_theory/arpeggios.dart
  lib/presentation/features/play/play_page_view_model.dart
  lib/presentation/features/practice/REFACTOR.md
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/features/reference/reference_page_view_model.dart
  lib/presentation/widgets/practice_settings_panel.dart
Due: dart-fixes, markdown-lint, dart-analyze

refactor: extract ChordType/ChordInversion enums into domain model file
  lib/domain/models/music/chord_type.dart
  lib/domain/services/music_theory/chord_definitions.dart
  lib/presentation/features/practice/REFACTOR.md
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/features/reference/reference_page.dart
  lib/presentation/features/reference/reference_page_view_model.dart
  lib/presentation/widgets/practice_settings_panel.dart
Due: dart-fixes, markdown-lint, dart-analyze

refactor: extract ScaleType/Key/KeyDisplay into domain model file
  lib/application/state/practice_session.dart
  lib/domain/models/music/chord_progression_type.dart
  lib/domain/models/music/scale_types.dart
  lib/domain/models/practice/exercise_configuration.dart
  lib/domain/models/practice/strategies/chord_progressions_strategy.dart
  lib/domain/services/music_theory/circle_of_fifths.dart
  lib/domain/services/music_theory/note_utils.dart
  lib/domain/services/music_theory/scales.dart
  lib/presentation/features/practice/REFACTOR.md
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/features/reference/reference_page.dart
  lib/presentation/widgets/practice_settings_panel.dart
Due: dart-fixes, markdown-lint, dart-analyze

docs: consolidate architecture docs into ARCHITECTURE.md
  AGENTS.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  scripts/check-layer-boundaries.sh
Due: markdown-lint

refactor: introduce MidiCoordinator as application-layer MIDI subscription manager
  ARCHITECTURE.md
  lib/application/utils/midi_coordinator.dart
  lib/main.dart
  lib/presentation/features/device_controller/REFACTOR.md
  lib/presentation/features/device_controller/device_controller_page.dart
  lib/presentation/features/device_controller/device_controller_view_model.dart
  lib/presentation/features/play/play_page.dart
  lib/presentation/features/play/play_page_view_model.dart
  lib/presentation/features/practice/REFACTOR.md
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  lib/presentation/features/reference/reference_page.dart
  lib/presentation/features/reference/reference_page_view_model.dart
  test/application/utils/midi_coordinator_test.dart
  test/presentation/features/device_controller/device_controller_view_model_test.dart
  test/presentation/features/play/play_page_view_model_test.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
  test/presentation/features/reference/reference_page_view_model_test.dart
  test/shared/test_helpers/widget_test_helper.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

refactor: route CC/PC/pitch-bend through IMidiRepository; add MidiEvent.pitchBendValue
  lib/application/repositories/midi_repository_impl.dart
  lib/domain/models/midi/midi_event.dart
  lib/domain/repositories/midi_repository.dart
  lib/presentation/features/device_controller/REFACTOR.md
  lib/presentation/features/device_controller/device_controller_view_model.dart
  test/presentation/features/device_controller/device_controller_view_model_test.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

refactor: move note-label and slider bounds out of DeviceControllerPage view
  lib/presentation/features/device_controller/REFACTOR.md
  lib/presentation/features/device_controller/device_controller_page.dart
  lib/presentation/features/device_controller/device_controller_view_model.dart
Due: dart-fixes, markdown-lint, dart-analyze

refactor: introduce IMidiDeviceDiscoveryService to eliminate flutter_midi_command from presentation layer
  lib/application/services/midi/midi_device_discovery_service_impl.dart
  lib/domain/services/midi_device_discovery_service.dart
  lib/main.dart
  lib/presentation/features/device_controller/REFACTOR.md
  lib/presentation/features/midi_settings/midi_settings_page.dart
  lib/presentation/features/midi_settings/midi_settings_view_model.dart
  test/presentation/features/midi_settings/midi_settings_page_test.dart
  test/presentation/features/midi_settings/midi_settings_view_model_test.dart
  test/shared/test_helpers/mock_repositories.dart
  test/shared/test_helpers/mock_repositories.mocks.dart
Due: dart-fixes, markdown-lint, test-selector-check, dart-analyze

refactor: replace magic numbers in notifications feature with named constants
  lib/presentation/features/notifications/notifications_constants.dart
  lib/presentation/features/notifications/widgets/notification_permission_dialog.dart
Due: dart-fixes, dart-analyze

refactor: fix play feature layer boundary violations
  lib/presentation/features/play/play_page.dart
  lib/presentation/features/play/play_page_view_model.dart
  test/presentation/features/play/play_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: fix reference feature layer boundary and introduce MidiNote semantics
  lib/presentation/features/reference/reference_page.dart
  lib/presentation/features/reference/reference_page_view_model.dart
  test/presentation/features/reference/reference_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: replace magic numbers in repertoire feature with named constants
  lib/presentation/features/repertoire/repertoire_constants.dart
  lib/presentation/features/repertoire/widgets/repertoire_duration_selector.dart
  lib/presentation/features/repertoire/widgets/repertoire_responsive_layout.dart
  lib/presentation/features/repertoire/widgets/repertoire_timer_display.dart
Due: dart-fixes, dart-analyze

refactor: fix practice feature layer boundary violations
  lib/presentation/features/practice/practice_page.dart
  lib/presentation/features/practice/practice_page_view_model.dart
  test/presentation/features/practice/practice_page_view_model_test.dart
Due: dart-fixes, test-selector-check, dart-analyze

refactor: convert relative imports to package imports in user_profile feature
  lib/presentation/features/user_profile/user_profile_page.dart
  lib/presentation/features/user_profile/user_profile_view_model.dart
  lib/presentation/features/user_profile/utils/profile_dialogs.dart
  lib/presentation/features/user_profile/widgets/profile_create_dialog.dart
  lib/presentation/features/user_profile/widgets/profile_edit_dialog.dart
  lib/presentation/features/user_profile/widgets/user_profile_error_state.dart
Due: dart-fixes, dart-analyze
